.about-us-frame {
    /* website-redesign-homepage */
    width: 90%;
    height: 1169px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 60px;
    margin-top: 30px;
}

.what-we-do {
    /* website-redesign-homepage > about-us-frame */
    color: #000000;
    text-align: left;
    position: relative;
    left: 0px;
    width: 40%;
    top: 10%;
    display: block;
}

.what-we-do-title, .what-we-do-text, .what-we-do-explain, .button.what-we-do {
    /* website-redesign-homepage > about-us-frame > what-we-do */
    position: relative;
    margin-top: 20px;
    margin-bottom: 35px;
}

.what-we-do-title {
    /* website-redesign-homepage > about-us-frame > what-we-do */
    font-size: 25px;
    font-weight: 600;
}

.what-we-do-text {
    /* website-redesign-homepage > about-us-frame > what-we-do */
    font-size: 45px;
    font-weight: 600;
    line-height: 1.5;
}

.what-we-do-explain {
    /* website-redesign-homepage > about-us-frame > what-we-do */

    font-size: 16px;
    font-weight: 400;
    width: 82%;
}

.button.what-we-do {
    /* website-redesign-homepage > about-us-frame > what-we-do */
    background: #496bef;
    width: 216px;
    height: 46px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.what-we-do-img {
    /* website-redesign-homepage > about-us-frame */
    border-radius: var(--border-radius-medium);
    width: 510px;
    height: 435px;
    position: absolute;
    left: 46%;
    top: 8%;
    z-index: 2;
}

.what-we-do-img-filler {
    /* website-redesign-homepage > about-us-frame */
    border-radius: var(--border-radius-medium);
    width: 510px;
    height: 393px;
    position: absolute;
    left: 100%;
    top: 0;
    transform-origin: 0 0;
    transform: rotate(0deg) scale(-1, 1);
    z-index: 1;
}

.who-we-are {
    /* website-redesign-homepage > about-us-frame */
    color: #000000;
    text-align: left;
    position: absolute;
    width: 40%;
    left: 60%;
    bottom: 0;
    display: block;
}

.who-we-are-title, .who-we-are-text, .who-we-are-explain, .button.who-we-are {
    /* website-redesign-homepage > about-us-frame > what-we-do */
    position: relative;
    margin-top: 20px;
    margin-bottom: 35px;
}

.who-we-are-title {
    /* website-redesign-homepage > about-us-frame > who-we-are */
    color: #000000;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    width: 169px;
}

.who-we-are-text {
    /* website-redesign-homepage > about-us-frame > who-we-are */
    color: #000000;
    text-align: left;
    font-size: 45px;
    font-weight: 600;
    position: relative;
    width: 317px;
    height: 56px;
}

.who-we-are-explain {
    /* website-redesign-homepage > about-us-frame > who-we-are */
    color: #000000;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    width: 500px;
}

.button.who-we-are {
    /* website-redesign-homepage > about-us-frame > who-we-are */
    background: #496bef;
    width: 216px;
    height: 46px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}

.who-we-are-filler-img {
    /* website-redesign-homepage > about-us-frame */
    border-radius: var(--border-radius-medium);
    width: 510px;
    height: 393px;
    position: absolute;
    left: 0;
    bottom: 15%;
    z-index: 1;
}

.who-we-are-img {
    /* website-redesign-homepage > about-us-frame */
    border-radius: var(--border-radius-medium);
    width: 510px;
    height: 435px;
    position: absolute;
    left: 20%;
    bottom: 0;
    z-index: 2;
}