/* --- PC Devices --- */

/* Frames */
.about_us {
  width: 90%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.what-we-do,
.who-we-are {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.who-we-are {
  flex-direction: row-reverse;
}

.about_us .text-frame {
  padding: 80px 0;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.who-we-are .text-frame {
  margin-left: 120px;
}

.what-we-do .text-frame {
  margin-right: 60px;
}

.about_us .image-frame {
  height: 550px;
  position: relative;
  width: 55%;
}

/* Text */
.about_us .text-frame * {
  margin: 20px 0;
}

.about_us button.blue {
  width: 216px;
  height: 46px;
}

.about_us p {
  max-width: 580px;
}

/* Image */
.about_us img {
  border-radius: 20px;
  position: absolute;
  width: 60%;
}

.about_us .image {
  z-index: 2;
}

.about_us .filler {
  z-index: 1;
}

.what-we-do .image {
  bottom: 20px;
  left: 20px;
}

.what-we-do .filler {
  top: 20px;
  right: 20px;
  transform: scaleX(-1);
}

.who-we-are .image {
  bottom: 20px;
  right: 20px;
}

.who-we-are .filler {
  top: 20px;
  left: 20px;
}

/* --- TABLET Devices --- */
@media (min-width: 768px) and (max-width: 1300px) {

  /* Frames */
  .about_us {
    width: 95%;
  }

  .about_us .text-frame,
  .about_us .image-frame {
    margin: 0;
  }

  .about_us .text-frame {
    padding: 20px 0;
  }

  .about_us .image-frame {
    height: 400px;
  }

  /* Text */
  .about_us .text-frame * {
    margin: 20px 0;
  }

  .about_us h3 {
    font-size: 35px;
  }

  .about_us h2 {
    font-size: 28px;
  }

  .about_us p {
    font-size: 16px;
  }
}

/* --- MOBILE Devices --- */
@media (max-width: 768px) {

  /* Frames */
  .about_us {
    margin-top: 20px;
  }

  .what-we-do,
  .who-we-are {
    flex-direction: column;
  }

  .about_us .image-frame {
    height: 250px;
  }

  .about_us .text-frame,
  .about_us .image-frame {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .who-we-are .text-frame {
    text-align: right;
    align-items: flex-end;
  }

  /* Text */
  .about_us .text-frame * {
    margin: 10px 0;
  }

  .about_us h3 {
    font-size: 25px;
  }

  .about_us h2 {
    font-size: 20px;
  }

  .about_us p {
    font-size: 14px;
  }

  /* Image */
  .about_us img {
    width: 70%;
  }

  .what-we-do .image {
    bottom: 0;
    left: 0;
  }

  .what-we-do .filler {
    top: 0;
    right: 0;
  }

  .who-we-are .image {
    bottom: 0;
    right: 0;
  }

  .who-we-are .filler {
    top: 0;
    left: 0;
  }
}