/* --- PC Devices --- */

/* Frames */
.ai_chat {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
}

.ai_chat-text {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.ai_chat form {
  width: 50%;
}

/* Text */

.ai_chat h1 {
  line-height: 1em;
  margin-bottom: 0.5em;
}

.ai_chat p {
  text-align: justify;
  max-width: 550px;
}

/* --- TABLET Devices --- */

@media (min-width: 768px) and (max-width: 1300px) {
  /* Frames */

  .ai_chat {
    width: 95%;
  }

  .ai_chat-text {
    margin: 0 25px;
  }

  .ai_chat form {
    margin: 0 25px;
  }

  /* Text */

  .ai_chat-text h1 {
    font-size: 40px;
  }

  .ai_chat-text p {
    font-size: 15px;
  }

  form #name,
  form #email {
    width: 85%;
    height: 45px;
    padding: 0 1em;
  }

  form .button {
    font-size: 15px;
    width: 200px;
    height: 40px;
    margin: 1em 0 0 0;
  }
}

/* --- MOBILE Devices --- */

@media (max-width: 768px) {
  /* Frames */

  .ai_chat {
    width: 90%;
    flex-direction: column;
  }

  .ai_chat-text {
    width: 100%;
  }

  .ai_chat form {
    width: 100%;
    align-items: flex-end;
  }

  /* Text */

  .ai_chat h1 {
    font-size: 28px;
  }

  .ai_chat p {
    font-size: 12px;
  }

  form #name,
  form #email {
    width: 85%;
    height: 40px;
    padding: 0 1em;
  }

  form .button {
    font-size: 15px;
    width: 160px;
    height: 40px;
    margin: 1em 0 0 0;
  }
}
