.lets-chat-frame {
    /* website-redesign-homepage */
    background: #ffffff;
    width: 100%;
    height: 366px;
    position: relative;
}

.lets-chat-title {
    /* website-redesign-homepage > lets-chat */
    color: #000000;
    text-align: justify;
    font-size: 55px;
    font-weight: 600;
    position: absolute;
    top: 13%;
    left: 10%;
}

.lets-chat-text {
    /* website-redesign-homepage > lets-chat */
    color: #000000;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    width: 550px;
    top: 44%;
    left: 10%;
}

.lets-chat-form {
    /* website-redesign-homepage > lets-chat */
    width: 30%;
    height: 60%;
    position: relative;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    top: 10%;
    left: 50%;
}

#name, #email {
    /* website-redesign-homepage > lets-chat > lets-chat-form */
    background-color: #FFFFFF;
    border-radius: var(--border-radius-large);
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    width: 500px;
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    color: rgba(0, 0, 0, 0.5);
    text-align: left;
    padding: 0.8em 2em;
    margin: 0.5em;
}

.button.lets-chat {
    /* website-redesign-homepage > lets-chat > lets-chat-form */
    background: #496bef;
    width: 319px;
    height: 46px;
    position: absolute;
    color: #fcfcfc;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--border-radius-large);
    cursor: pointer;
}