/* --- ALL Devices --- */

/* Frames */

.business_partners {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#partners-carousel {
  position: relative;
}

.business_partners .card {
  padding-right: 10px;
}

/* Text */

.business_partners h3 {
  text-align: center;
  position: relative;
}

/* Image */

.business_partners img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* --- PC Devices --- */

@media (min-width: 769px) {
  /* Frames */

  .business_partners {
    margin-top: 60px;
  }

  #partners-carousel {
    width: 90%;
  }

  .business_partners .card {
    width: 275px;
    height: 200px;
  }

  /* Text */

  .business_partners h3 {
    margin-bottom: 30px;
  }

  /* Buttons */

  .business_partners > button {
    width: 216px;
    height: 46px;
  }
}

/* --- MOBILE Devices --- */

@media (max-width: 768px) {
  /* Frames */

  .business_partners {
    margin-top: 20px;
  }

  #partners-carousel {
    width: 100%;
  }

  .business_partners .card {
    width: 130px;
    height: 100px;
  }

  /* Text */

  .business_partners h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  /* Buttons */

  .business_partners > button {
    font-size: 14px;
    width: 150px;
    height: 40px;
  }
}
