.partners-frame {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin-top: 60px;
}

.partners-title {
  color: #000000;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  margin-bottom: 30px;
}

.button.partners {
  background: #000000;
  width: 216px;
  height: 46px;
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#partners-carousel {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.inner-carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-container.img {
  max-width: 100%;
}

.track {
  display: inline-flex;
  transition: transform 0.2s ease-in-out;
}

.partner.card-container {
  width: 275px;
  height: 200px;
  flex-shrink: 0;
  padding-right: 10px;
}

.partner.card {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.partner.card1 {
  background-image: url('../Data/Images/partners-img-terra.png');
}
.partner.card2 {
  background-image: url('../Data/Images/partners-img-hill-co.png');
}
.partner.card3 {
  background-image: url('../Data/Images/partners-img-leaf.svg');
}
.partner.card4 {
  background-image: url('../Data/Images/partners-img-an-retreats.png');
}
.partner.card5 {
  background-image: url('../Data/Images/partners-img-bottoms-up.png');
}
.partner.card6 {
  background-image: url('../Data/Images/partners-img-cleartrip.png');
}
.partner.card7 {
  background-image: url('../Data/Images/partners-img-fly-dubai.png');
}
.partner.card8 {
  background-image: url('../Data/Images/partners-img-ifeelgood.png');
}
.partner.card9 {
  background-image: url('../Data/Images/partners-img-movewithus.png');
}
.partner.card10 {
  background-image: url('../Data/Images/partners-img-viewpoint.svg');
}
.partner.card11 {
  background-image: url('../Data/Images/partners-img-clinic27.png');
}
.partner.card12 {
  background-image: url('../Data/Images/partners-img-completechiropractic.svg');
}
.partner.card13 {
  background-image: url('../Data/Images/partners-img-guy.svg');
}
.partner.card14 {
  background-image: url('../Data/Images/partners-img-prdsurveyservices.png');
}

@media (max-width: 768px) {
  .partners-frame {
    width: 100%;
    margin-top: 20px;
    padding: 0;
  }
  #partners-carousel {
    width: 100%;
  }
  .partner.card-container {
    width: 130px;
    height: 100px;
  }
  .partners-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .partners-frame .track {
    padding: 20px;
  }
}
