.contact-1-frame {
    width: 100%;
    height: 100%;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
}

.contact-title {
    color: #ffffff;
    font-size: 55px;
    font-weight: 600;
}

.contact-explain {
    padding: 30px 0;
    color: #ffffff;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    width: 550px;
}

.contact-text {
    padding: 20px 0;
    color: #ffffff;
    text-align: left;
    font-size: 25px;
    font-weight: 600;
}

.contact-logo {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.link-twitter {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.link-linkedin {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.link-instagram {
    width: 36px;
    height: 36px;
    object-fit: cover;
}

.contact-2-frame {
    width: 100%;
    height: 100%;
}