/* --- ALL Devices --- */

/* Frames */

.end {
  box-sizing: border-box;
  background: #181818;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 40px 80px;
}

.end .logo {
  width: 100%;
}

.end .text {
  width: 100%;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  text-align: left;
  flex-grow: 1;
}

.end .text>* {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 200px;
}

.end .text> :nth-child(1),
.end .text> :nth-child(2) {
  margin-right: 20px;
}

/* Images */

.end .logo img {
  height: 83px;
  position: relative;
  margin: 40px 0;
  object-fit: cover;
}

/* Text */

.end .text h4 {
  margin-bottom: 15px;
}

.end .text a {
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  padding: 5px 0;
  color: #80868a;
  white-space: normal;
}

@media (max-width: 768px) {
  .end {
    padding: 0 20px 20px 20px;
    flex-direction: column;
  }

  .end .logo {
    justify-content: center;
    display: flex;
  }

  .end .logo img {
    margin: 20px 0;
  }

  .end .text > * {
    width: 33.3%;
  }

  .end .text a {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
  }

  .end .text h4  {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}