.our-approach-frame {
  background: #181818;
  width: 100%;
  margin-top: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 250px 150px 250px 150px;
}
.data-driven-frame {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}
.powered-by-data-frame {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.data-driven-1 {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.data-driven-2 {
  width: 50%;
}

.our-approach-title {
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  font-size: 220px;
  font-weight: 600;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.data-driven-text,
.data-driven-explain,
.our-approach-frame button.blue {
  position: relative;
}

.data-driven-text {
  color: #ffffff;
  text-align: left;
  font-size: 55px;
  line-height: 1.5em;
  font-weight: 600;
  max-width: 800px;
}

.data-driven-explain {
  color: #ffffff;
  font-size: 16px;
  text-align: justify;
  margin: 60px 0 60px 0;
  max-width: 630px;
}

.our-approach-frame button.blue {
  background: #496bef;
  width: 216px;
  height: 46px;
  color: #ffffff;
  text-align: center;
  font-weight: medium;
  font-size: 18px;
  margin-bottom: 60px;
}

.data-driven-img {
  border-radius: 20px;
  mix-blend-mode: lighten;
  object-fit: cover;
  position: absolute;
  bottom: 0;
}

.powered-by-data-title {
  color: #ffffff;
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  position: relative;
}

.powered-by-data-text {
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  line-height: 1.3em;
  font-weight: 400;
  position: relative;
  padding: 0 25% 0 25%;
}

.powered-by-data-rectangle {
  background: #496bef;
  border-radius: 20px;
  width: 50%;
  height: 50%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -150px;
  right: 100px;
  padding: 40px;
}

.powered-by-data-explain {
  height: 70%;
  color: #ffffff;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
}

.our-approach-frame button.black {
  background: #000000;
  width: 330px;
  height: 46px;
  color: #fcfcfc;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.powered-by-data-img {
  border-radius: 20px;
  width: 50%;
  height: 70%;
  position: absolute;
  mix-blend-mode: luminosity;
  object-fit: cover;
  bottom: -100px;
  left: 100px;
}

@media (max-width: 1300px) {
  .our-approach-frame {
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 120px 60px 120px 60px;
  }
  .our-approach-title {
    font-size: 120px;
  }
  .data-driven-text {
    font-size: 40px;
    line-height: 1.5em;
  }
  .data-driven-explain {
    font-size: 14px;
    margin: 25px 0 25px 0;
  }

  .powered-by-data-title {
    font-size: 40px;
  }

  .powered-by-data-text {
    font-size: 18px;
  }

  .powered-by-data-rectangle {
    background: #496bef;
    border-radius: 20px;
    width: 60%;
    height: 50%;
    bottom: 0;
    right: 20px;
    padding: 25px;
    align-items: center;
  }
  .powered-by-data-img {
    border-radius: 20px;
    width: 60%;
    height: 50%;
    position: absolute;
    mix-blend-mode: luminosity;
    object-fit: cover;
    bottom: 40px;
    left: 20px;
  }
}

@media (max-width: 768px) {
  .our-approach-frame {
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 75px 5px 120px 5px;
  }
  .data-driven-1 {
    width: 70%;
  }
  .data-driven-2 {
    width: 30%;
  }
  .our-approach-title {
    font-size: 50px;
  }

  .data-driven-text {
    font-size: 25px;
    line-height: 1.3em;
  }

  .data-driven-explain {
    font-size: 13px;
    margin: 20px 0 20px 0;
  }

  .our-approach-frame button.blue {
    width: 180px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .data-driven-img {
    width: 130px;
    height: 250px;
    bottom: 0;
    right: 0;
  }

  .powered-by-data-title {
    font-size: 35px;
  }

  .powered-by-data-text {
    font-size: 16px;
    line-height: 1.3em;
    padding: 0 5% 0 5%;
  }

  .powered-by-data-rectangle {
    background: #496bef;
    border-radius: 20px;
    width: 60%;
    height: 80%;
    bottom: -90px;
    right: 20px;
    padding: 25px;
    align-items: center;
  }

  .powered-by-data-explain {
    height: 80%;
    font-size: 13px;
  }

  .our-approach-frame button.black {
    width: 90%;
    height: 50px;
    font-size: 15px;
    border-radius: 20px;
  }

  .powered-by-data-img {
    border-radius: 20px;
    width: 60%;
    height: 80%;
    position: absolute;
    mix-blend-mode: luminosity;
    object-fit: cover;
    bottom: -60px;
    left: 20px;
  }
}
