.verticles-frame {
  width: 100%;
  display: block;
  padding: 30px 0;
}

.verticles-title {
  color: #000000;
  text-align: left;
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 20px;
}

.verticles-text {
  color: #000000;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  max-width: 1100px;
  margin-bottom: 60px;
}

#verticles-carousel {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
}

.verticles.card-container {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.verticles.card {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: center;
  background-repeat: no-repeat;
}

.verticles.cardtitle {
  padding: 25px 25px 0 25px;
  font-size: 25px;
  font-weight: 500;
  height: 80px;
  line-height: 1.2;
}

.verticles.cardtext {
  padding: 25px 25px 25px 25px;
  font-size: 16px;
  font-weight: 400;
  height: 100px;
}

.verticles.card1 {
  background-image: url('../Data/Images/verticles-direct-to-consumer.webp');
}
.verticles.card2 {
  background-image: url('../Data/Images/verticles-b2b-marketing.webp');
}
.verticles.card3 {
  background-image: url('../Data/Images/verticles-consumer-services.webp');
}
.verticles.card4 {
  background-color: #fff7f7;
}
.verticles.card5 {
  background-color: #eeeaea;
}
.verticles.card6 {
  background-color: #b1c1fe;
}
.verticles.card7 {
  background-color: #646060;
}
.verticles.card8 {
  background-color: #fff7f7;
}
.verticles.card9 {
  background-color: #eeeaea;
}

.verticles.card-bottom-frame1 {
  background-color: #d9d9d9;
}
.verticles.card-bottom-frame2 {
  background-color: #496bef;
  color: #ffffff;
}
.verticles.card-bottom-frame3 {
  background-color: #000000;
  color: #ffffff;
}
.verticles.card-bottom-frame4 {
  background-color: #ffffff;
}
.verticles.card-bottom-frame5 {
  background-color: #d9d9d9;
}
.verticles.card-bottom-frame6 {
  background-color: #496bef;
  color: #ffffff;
}
.verticles.card-bottom-frame7 {
  background-color: #000000;
  color: #ffffff;
}
.verticles.card-bottom-frame8 {
  background-color: #ffffff;
}
.verticles.card-bottom-frame9 {
  background-color: #d9d9d9;
}

@media (max-width: 768px) {
  .verticles.card-container {
    width: 200px;
  }
  .verticles.card {
    width: 100%;
    background-position: center;
    background-size: center;
    background-repeat: no-repeat;
  }

  .verticles.cardtitle {
    padding: 10px 10px 0 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    height: 60px;
  }

  .verticles.cardtext {
    padding: 10px;
    font-size: 13px;
    height: 80px;
  }
}
