/* --- ALL Devices --- */

/* Frames */

.our_services {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 60px;
  gap: 50px;
}

.our_services .text {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.our_services .button-frame {
  display: block;
  width: 60%;
}

.our_services .button-frame > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 43px;
  margin: 2em 0;
}

.button-frame > :nth-child(1),
.button-frame > :nth-child(3) {
  padding-left: 5%;
}

/* Text */

.our_services p {
  text-align: justify;
  margin: 3em 0;
}

/* Buttons */

.our_services button {
  font-size: 20px;
  padding: 10px 30px;
  min-width: 183px;
}

/* --- TABLET Devices --- */

@media (min-width: 768px) and (max-width: 1300px) {
  /* Frames */

  .our_services {
    padding: 20px;
    gap: 30px;
  }

  .our_services .text {
    width: 30%;
  }

  .our_services .button-frame {
    width: 70%;
  }

  /* Text */

  .our_services h1 {
    font-size: 40px;
  }

  .our_services p {
    font-size: 13px;
  }

  /* Buttons */

  .our_services button {
    padding: 12px;
    border-radius: 50px;
    font-size: 14px;
    min-width: 160px;
  }
}

@media (max-width: 768px) {
  /* Frames */

  .our_services {
    padding: 20px;
    flex-direction: column;
    gap: 0;
  }

  .our_services .text {
    width: 100%;
  }

  .our_services .button-frame {
    width: 100%;
  }

  .button-frame > :nth-child(1),
  .button-frame > :nth-child(3) {
    padding-left: 0;
  }

  /* Text */

  .our_services h1 {
    font-size: 30px;
  }

  .our_services p {
    font-size: 13px;
    margin: 2em 0 0 0;
  }

  .our_services .button-frame > * {
    gap: 10px;
    margin: 2em 0 0 0;
  }

  /* Buttons */

  .button-frame > :nth-child(1) *,
  .button-frame > :nth-child(3) * {
    width: 90px;
  }

  .our_services button {
    height: 60px;
    padding: 6px;
    border-radius: 28px;
    font-size: 12px;
    width: 120px;
    min-width: 0;
  }
}
