/* --- ALL Devices --- */

/* Frames */

.our_verticles {
  width: 100%;
  display: block;
  padding: 30px 0;
}

#verticles-carousel {
  position: relative;
}

.our_verticles .card {
  width: 309px;
  display: flex;
  flex-direction: column;
}

.our_verticles .card .frame {
  height: 170px;
  display: flex;
  flex-direction: column;
  padding: 0 35px;
}

/* Text */

.our_verticles > h1 {
  margin-bottom: 20px;
}

.our_verticles > p {
  max-width: 1100px;
  margin-bottom: 60px;
}

.card h3 {
  margin: auto 0;
  line-height: 1.2;
  font-weight: 500;
}

.card p {
  height: 40%;
}

/* Images */

.our_verticles .card img {
  object-fit: contain;
}

.our_verticles .track > :nth-child(4) img {
  background-color: #fff7f7;
}

.our_verticles .track > :nth-child(5) img {
  background-color: #eeeaea;
}

.our_verticles .track > :nth-child(6) img {
  background-color: #b1c1fe;
}

.our_verticles .track > :nth-child(7) img {
  background-color: #646060;
}

.our_verticles .track > :nth-child(8) img {
  background-color: #fff7f7;
}

.our_verticles .track > :nth-child(9) img {
  background-color: #eeeaea;
}

/* Cards */

.our_verticles .track > :nth-child(1) :not(img) {
  background-color: #d9d9d9;
}

.our_verticles .track > :nth-child(2) :not(img) {
  background-color: #496bef;
  color: #ffffff;
}

.our_verticles .track > :nth-child(3) :not(img) {
  background-color: #000000;
  color: #ffffff;
}

.our_verticles .track > :nth-child(4) :not(img) {
  background-color: #ffffff;
}

.our_verticles .track > :nth-child(5) :not(img) {
  background-color: #d9d9d9;
}

.our_verticles .track > :nth-child(6) :not(img) {
  background-color: #496bef;
  color: #ffffff;
}

.our_verticles .track > :nth-child(7) :not(img) {
  background-color: #000000;
  color: #ffffff;
}

.our_verticles .track > :nth-child(8) :not(img) {
  background-color: #ffffff;
}

.our_verticles .track > :nth-child(9) :not(img) {
  background-color: #d9d9d9;
}

/* --- TABLET Devices --- */

@media (min-width: 768px) and (max-width: 1300px) {
  /* Frames */

  .our_verticles > h1 {
    font-size: 40px;
    padding: 0 20px;
  }

  .our_verticles > p {
    font-size: 13px;
    padding: 0 20px;
  }
}

/* --- MOBILE Devices --- */

@media (max-width: 768px) {
  /* Frames */

  .our_verticles .card {
    width: 155px;
    display: flex;
    flex-direction: column;
  }

  .our_verticles .card .frame {
    height: 85px;
    padding: 0 10px;
  }

  /* Text */

  .our_verticles > h1 {
    text-align: center;
    font-size: 30px;
  }

  .our_verticles > p {
    font-size: 13px;
    padding: 0 20px;
    margin-bottom: 30px;
  }

  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 9px;
  }
}
