/* --- PC Devices --- */

/* Frames */
.our_approach {
  background: rgb(24, 24, 24);
  width: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.data-driven {
  display: flex;
  flex-direction: row;
  padding: 0 80px;
}

.powered-by-data {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 160px 120px 160px;
}

.data-driven .text {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.data-driven .image {
  width: 50%;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.powered-by-data .bottom {
  width: 100%;
  margin-top: 180px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.powered-by-data .rectangle {
  background: rgb(73, 107, 239);
  border-radius: 20px;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 40px;
  max-width: 737px;
}

/* Text */
.our_approach .title {
  color: rgba(255, 255, 255, 0.35);
  text-align: center;
  justify-content: center;
  font-size: 220px;
  font-weight: 600;
  z-index: 2;
  line-height: 0.4;
  padding-top: 0.5em;
}

.our_approach h1,
.our_approach h3,
.our_approach p {
  color: rgb(255, 255, 255);
}

.our_approach p {
  text-align: justify;
}

.data-driven h1 {
  text-align: left;
  max-width: 800px;
}

.data-driven p {
  margin: 100px 0 60px 0;
  max-width: 630px;
}

.powered-by-data h1 {
  text-align: center;
}

.powered-by-data h3 {
  text-align: center;
  padding: 40px 0 80px 0;
}

/* Image */
.data-driven img {
  opacity: 0.7;
  height: 80%;
  mix-blend-mode: lighten;
}

.bottom img {
  border-radius: 20px;
  position: absolute;
  mix-blend-mode: luminosity;
  width: 50%;
  height: 50%;
  bottom: 18%;
  left: 10%;
}

/* Buttons */
.our_approach button.blue {
  width: 216px;
  height: 46px;
  margin-bottom: 60px;
}

.our_approach button.black {
  width: 330px;
  height: 46px;
}

/* --- TABLET Devices --- */

@media (min-width: 768px) and (max-width: 1300px) {

  /* Frames */
  .our_approach {
    margin-top: 30px;
  }

  .data-driven {
    padding: 0 40px;
  }

  .powered-by-data {
    padding: 0 80px 60px 80px;
  }

  .powered-by-data .bottom {
    margin-top: 40px;
  }

  .powered-by-data .rectangle {
    max-width: 60%;
  }

  /* Text */
  .our_approach .title {
    font-size: 120px;
  }

  .our_approach p {
    font-size: 14px;
  }

  .data-driven h1,
  .powered-by-data h1 {
    font-size: 30px;
  }

  .data-driven p {
    margin: 50px 0 30px 0;
  }

  .powered-by-data h3 {
    font-size: 20px;
    padding: 20px 0 60px 0;
  }
}

/* --- MOBILE Devices --- */

@media (max-width: 768px) {

  /* Frames */
  .our_approach {
    margin-top: 20px;
  }

  .data-driven {
    padding: 0 20px;
  }

  .data-driven .text {
    width: 90%;
  }

  .data-driven .image {
    width: 10%;
  }

  .powered-by-data {
    padding: 0 10px 10px 10px;
  }

  .powered-by-data .bottom {
    margin-top: 30px;
  }

  .powered-by-data .rectangle {
    padding: 15px;
    gap: 20px;
    max-width: 75%;
  }

  /* Text */
  .our_approach .title {
    font-size: 48px;
  }

  .our_approach p {
    font-size: 10px;
  }

  .data-driven h1,
  .powered-by-data h1 {
    font-size: 20px;
  }

  .data-driven p {
    margin: 30px 0 20px 0;
  }

  .powered-by-data h3 {
    font-size: 11px;
    font-weight: 500;
    padding: 10px 0 30px 0;
  }

  /* Image */
  .data-driven img {
    opacity: 0.5;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .bottom img {
    border-radius: 20px;
    position: absolute;
    mix-blend-mode: luminosity;
    height: 60%;
    width: 70%;
    bottom: 9%;
    left: 5%;
  }

  /* Buttons */
  .our_approach button.blue {
    width: 170px;
    height: 40px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .our_approach button.black {
    font-size: 13px;
    width: 100%;
    height: 50px;
  }
}