body {
  box-sizing: border-box;
  max-width: 1860px;
  margin: 0 auto;
  background: #ffffff;
  display: block;
  font-family: 'Poppins';
}

button,
.button {
  border-radius: 100px;
  cursor: pointer;
}

button,
button:active,
button:focus,
.button,
.button:active,
.button:focus {
  -webkit-tap-highlight-color: transparent;
}

button.blue,
.button.blue {
  color: #ffffff;
  background: #496bef;
}
button.blue:hover,
.button.blue:hover {
  font-weight: 600;
  background: #8cbcff;
}
button.blue:active,
.button.blue:active {
  background: #0022a8;
}

button.white {
  color: #000000;
  background: #ffffff;
}
button.white:hover {
  font-weight: 600;
  background: #c0c8ba;
}
button.white:active {
  background: #a3a3a3;
}

button.black {
  color: #ffffff;
  background: #000000;
}
button.black:hover {
  font-weight: 600;
  background: #202020;
}
button.black:active {
  background: #1a0000;
}

button.gray {
  color: #000000;
  background: #d1cece;
}
button.gray:hover {
  font-weight: 600;
  background: #c2b9de;
}
button.gray:active {
  background: #887ba2;
}


.nav button {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  width: 60px;
  height: 60px;
  outline: none;
}

.nav .prev {
  background-image: url('../Data/Images/nav-prev.svg');
  background-size: cover;
  opacity: 0.6;
  left: 0;
  display: none;
}

.nav .prev.show {
  display: block;
}

.nav .next {
  background-image: url('../Data/Images/nav-next.svg');
  background-size: cover;
  opacity: 0.6;
  right: 0;
}

.nav .next.hide {
  display: none;
}