/* --- PC Devices --- */

/* Frames */
.scaling_business {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 160px 120px 80px 120px;
}

.scaling_business-frame {
  display: flex;
  flex-direction: column;
  gap: 73px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 95%;
  max-width: 900px;
  position: relative;
}

.scaling_business-frame>* {
  display: flex;
  flex-direction: row;
}

.scaling_business-frame .text {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.dot-frame {
  width: 25%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

/* Text */

.scaling_business>h1 {
  color: #ffffff;
  text-align: center;
}

.scaling_business-frame h2,
.scaling_business-frame h1 {
  color: #ffffff;
  margin-bottom: 0.5em;
}

.scaling_business-frame p {
  color: #ffffff;
  text-align: justify;
}

/* Image */

.scaling_business>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  z-index: -1;
}

.dot-frame>*:not(#vector) {
  background: #496bef;
  border-radius: 50%;
  width: 28px;
  height: 28px;
}

#vector {
  height: 0;
  width: 28px;
  position: absolute;
}

/* --- TABLET Devices --- */

@media (min-width: 768px) and (max-width: 1300px) {
  /* Frames */

  .scaling_business {
    padding: 35px 60px;
  }

  .scaling_business-frame {
    gap: 30px;
  }

  /* Text */

  .scaling_business h1 {
    font-size: 35px;
    padding: 25px 0;
  }

  .scaling_business h2 {
    font-size: 30px;
    padding: 25px 0;
  }

  .scaling_business p {
    font-size: 14px;
  }
}

/* --- MOBILE Devices --- */

@media (max-width: 768px) {
  /* Frames */

  .scaling_business {
    padding: 16px 25px 25px 10px;
  }

  .scaling_business-frame {
    gap: 15px;
  }

  .scaling_business-frame .text {
    width: 85%;
  }

  .dot-frame {
    width: 15%;
    padding: 29px 0;
  }

  /* Text */

  .scaling_business h1 {
    font-size: 25px;
    padding: 15px 0;
  }

  .scaling_business h2 {
    font-size: 20px;
    padding: 15px 0;
  }

  .scaling_business p {
    font-size: 12px;
  }
}