.scaling-business-frame {
  background-image: url('../Data/Images/scaling-business-img.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1f1f1f;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 160px 120px 80px 120px;
}

.scaling-business-title {
  color: #ffffff;
  text-align: center;
  font-size: 55px;
  font-weight: 600;
  position: relative;
}

.scaling-business-text-frame {
  display: flex;
  flex-direction: column;
  gap: 73px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 900px;
  position: relative;
}

.scaling-business-team-frame,
.scaling-business-support-frame,
.scaling-business-partner-frame {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}
.scaling-business-team-1,
.scaling-business-support-1,
.scaling-business-partner-1 {
  width: 75%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.scaling-business-team-2,
.scaling-business-support-2,
.scaling-business-partner-2 {
  width: 25%;
  padding-top: 20px;
}

.scaling-business-team-title {
  color: #ffffff;
  text-align: left;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.scaling-business-support-title,
.scaling-business-partner-title {
  color: #ffffff;
  text-align: left;
  font-size: 55px;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.scaling-business-team-explain,
.scaling-business-support-explain,
.scaling-business-partner-explain {
  color: #ffffff;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
}

.scaling-business-ellipse {
  background: #496bef;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0;
  transform: translateX(33.3%);
}

.scaling-business-vector {
  height: 50%;
  width: 1%;
  position: absolute;
  right: 0;
}

@media (max-width: 1300px) {
  .scaling-business-frame {
    padding: 35px 60px;
  }
  .scaling-business-title {
    font-size: 45px;
    padding: 25px 0;
  }

  .scaling-business-text-frame {
    gap: 30px;
  }
  .scaling-business-team-title {
    font-size: 35px;
  }

  .scaling-business-support-title,
  .scaling-business-partner-title {
    font-size: 40px;
  }

  .scaling-business-team-explain,
  .scaling-business-support-explain,
  .scaling-business-partner-explain {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .scaling-business-frame {
    padding: 16px 25px 25px 10px;
  }
  .scaling-business-title {
    font-size: 35px;
  }

  .scaling-business-text-frame {
    gap: 23px;
  }

  .scaling-business-team-1,
  .scaling-business-support-1,
  .scaling-business-partner-1 {
    width: 90%;
  }

  .scaling-business-team-2,
  .scaling-business-support-2,
  .scaling-business-partner-2 {
    width: 10%;
  }

  .scaling-business-team-title {
    font-size: 25px;
  }

  .scaling-business-support-title,
  .scaling-business-partner-title {
    font-size: 30px;
  }

  .scaling-business-team-explain,
  .scaling-business-support-explain,
  .scaling-business-partner-explain {
    font-size: 13px;
  }

  .scaling-business-ellipse {
    background: #496bef;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 0;
    transform: translateX(33.3%);
  }

  .scaling-business-vector {
    height: 50%;
    width: 1%;
    position: absolute;
    right: 0;
  }
}
