/* --- PC Devices --- */

/* Frames */
.title {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.logo-frame,
.button-frame {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-frame {
  width: 60%;
  margin: 0 15px;
  display: flex;
  flex-direction: row;
  gap: 58px;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

/* Logo */
.MxD-logo-black {
  height: 45px;
}

/* Button */
.title button.blue {
  width: 189px;
  height: 41px;
  font-weight: 400;
}

/* Dropdown */
.dropdown-button img {
  height: 10px;
}

.dropdown-button button {
  border: none;
  border-radius: 10px;
  font-weight: 400;
  line-height: 1em;
}

.dropdown-button button:hover {
  background: none;
  font-weight: 600;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #f9f9f9;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  white-space: nowrap;
  padding: 10px;
}

.dropdown-content a {
  color: black;
  padding: 6px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #f1f1f1;
}

.dropdown-button:hover .dropdown-content {
  display: block;
}

/* --- TABLET Devices --- */
@media (min-width: 768px) and (max-width: 1300px) {

  /* Frames */
  .dropdown-frame {
    gap: 25px;
  }
}

/* --- MOBILE Devices --- */
@media (max-width: 768px) {

  /* Frames */
  .title {
    flex-direction: column;
    align-items: center;
  }

  .logo-frame,
  .button-frame {
    width: 100%;
    justify-content: center;
  }

  .dropdown-frame {
    gap: 15px;
    padding: 10px;
    width: 100%;
    justify-content: center;
  }

  /* Dropdown */
  .dropdown-button button {
    font-size: 16px;
  }

  .dropdown-button {
    width: 33.3%;
  }

  .dropdown-content {
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
    white-space: unset;
  }

  .dropdown-content a {
    padding: 6px 12px;
    font-size: 14px;
  }
}