.title-frame {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.logo-frame,
.button-frame {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-frame {
  width: 60%;
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

.dropdown-arrow {
  width: 15px;
  height: 10px;
}

.MxD-logo-black {
  width: 156px;
  height: 45px;
  object-fit: cover;
}

.work-with-us {
  background: #496bef;
  width: 180px;
  height: 40px;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.dropdown {
  display: inline-block;
}

.dropbtn {
  background: #ffffff;
  color: #000000;
  padding: 16px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #f9f9f9;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  white-space: nowrap;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Stilovi za telefone */
@media (max-width: 768px) {
  .title-frame {
    flex-direction: column;
    align-items: center;
  }

  .logo-frame,
  .button-frame {
    width: 100%;
    justify-content: center;
  }

  .dropdown-frame {
    margin: 15px 0;
    width: 90%;
    justify-content: center;
  }

  .dropbtn {
    width: 100%;
    text-align: center;
    padding: 4px 8px;
  }

  .dropdown-content {
    left: 50%;
    transform: translateX(-50%);
    max-width: 80%;
    white-space: unset;
  }

  .dropdown-content a {
    color: black;
    padding: 6px 12px;
    text-decoration: none;
    display: block;
  }
}
