.top-frame {
  /* -- 1 -- */
  width: 100%;
  margin-top: 60px;
  height: 700px;
  position: relative;
  z-index: 1;
  background-image: url('../Data/Images/top-frame-image.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.top-frame-1 {
  /* -- 2 -- */
  width: 100%;
  height: 50%;
  position: relative;
}

.top-frame-2 {
  /* -- 2 -- */
  width: 100%;
  height: 50%;
  position: relative;
}

.top-frame-text {
  /* -- 3 -- */
  width: 100%;
  max-width: 1300px;
  color: #ffffff;
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.get-started,
.contact-sales,
.play-video {
  /* -- 3 -- */
  width: 200px;
  height: 58px;
  border-radius: 10px;
  top: 20%;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  z-index: 2;
}

.get-started {
  /* -- 3 -- */
  background: #ffffff;
  left: 35%;
  color: #0065fa;
}

.contact-sales {
  /* -- 3 -- */
  background: #0065fa;
  right: 35%;
  color: #ffffff;
}

.play-video {
  /* -- 3 -- */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  left: 50%;
  top: 180%;
  transform: translate(-50%, -50%);
}

.play-video:hover {
  font-weight: 600;
}

.play-video-img {
  /* -- 4 -- */
  width: 34px;
  height: 34px;
  margin-right: 10px;
  object-fit: cover;
  aspect-ratio: 1;
}

@media (max-width: 1300px) {
  .top-frame-text {
    /* -- 3 -- */
    font-size: 60px;
    font-weight: 400;
    top: 20%;
  }

  .get-started {
    /* -- 3 -- */
    left: 15%;
  }

  .contact-sales {
    /* -- 3 -- */
    right: 15%;
  }
}

/* Stilovi za telefone */
@media (max-width: 768px) {
  .top-frame {
    background-image: url('../Data/Images/top-frame-image-mobile.webp');
    margin-top: 20px;
    height: 400px;
  }

  .top-frame-1 {
    /* -- 2 -- */
    height: 70%;
  }

  .top-frame-2 {
    /* -- 2 -- */
    height: 30%;
  }

  .top-frame-text {
    /* -- 3 -- */
    font-size: 36px;
    font-weight: 400;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  .get-started,
  .contact-sales,
  .play-video {
    /* -- 3 -- */
    width: 130px;
    height: 48px;
    top: 30%;
    font-size: 16px;
  }

  .get-started {
    /* -- 3 -- */
    left: 8%;
  }

  .contact-sales {
    /* -- 3 -- */
    right: 8%;
  }

  .play-video {
    /* -- 3 -- */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
  }
}
