
.website-redesign-homepage {
  /* main div */
  box-sizing: border-box;
  max-width: 1728px;
  max-height: 8227px;
  margin: 0 auto;
  background: #ffffff;
  height: 8227px;
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
}

.title-frame {
  /* website-redesign-homepage */
  width: 100%;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}
    .MxD-logo-black {
      /* website-redesign-homepage > title-frame */
      width: 156px;
      height: 45px;
      position: absolute;
      left: 58px;
      top: 50%;
      transform: translateY(-50%);
      object-fit: cover;
    }
    .dropdown-frame {
      /* website-redesign-homepage > title-frame */
      display: flex;
      flex-direction: row;
      gap: 35px;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
        .dropdown {
          /* website-redesign-homepage > title-frame > dropdown-frame */
          position: relative;
          display: inline-block;
        }
            .dropbtn {
              /* website-redesign-homepage > title-frame > dropdown-frame > dropdown */
              background-color: #ffffff;
              color: #000000;
              padding: 16px;
              font-size: 20px;
              
              border: none;
              cursor: pointer;
            }
            .dropdown-content {
              /* website-redesign-homepage > title-frame > dropdown-frame > dropdown */
              display: none;
              position: absolute;
              background-color: #f9f9f9;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              font-size: 18px;
              
              white-space: nowrap;
            }
                .dropdown-content a {
                  /* website-redesign-homepage > title-frame > dropdown-frame > dropdown > dropdown-content */
                  color: black;
                  padding: 12px 16px;
                  text-decoration: none;
                  display: block;
                }
                .dropdown-content a:hover {
                  /* website-redesign-homepage > title-frame > dropdown-frame > dropdown > dropdown-content */
                  background-color: #f1f1f1;
                }
            .dropdown:hover .dropdown-content {
              /* website-redesign-homepage > title-frame > dropdown-frame > dropdown */
              display: block;
            }
            .dropdown:hover .dropbtn {
              /* website-redesign-homepage > title-frame > dropdown-frame > dropdown */
              background-color: #f1f1f1;
            }
    .work-with-us {
      /* website-redesign-homepage > title-frame */
      background: #496bef;
      border-radius: var(--border-radius-large);
      width: 189px;
      height: 41px;
      position: absolute;
      left: 1479px;
      top: 50%;
      transform: translateY(-50%);
      color: #ffffff;
      text-align: center;
      
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
    }

.top-frame {
  /* website-redesign-homepage */
  width: 100%;
  height: 678px;
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}
    .top-frame-image-1 {
        /* website-redesign-homepage > top-frame */
        width: 1728px;
        height: 678px;
        position: absolute;
        left: 0px;
        top: 0px;
        object-fit: cover;
        aspect-ratio: 1728/678;
        }
    .top-frame-text {
        /* website-redesign-homepage > top-frame */
        color: #ffffff;
        text-align: center;
        
        font-size: 64px;
        font-weight: 400;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        }
    .button-get-started, .button-contact-sales, .button-play-video {
        /* website-redesign-homepage > top-frame */
        width: 200px;
        height: 58px;
        border-radius: 10px;
        top: 58%;
        font-size: 20px;
        
        font-weight: 400;
        position: absolute;
        cursor: pointer;
        }
        .button-get-started {
            /* website-redesign-homepage > top-frame */
            background: #ffffff;
            left: 35%;
            color: #0065fa;
            }
        .button-contact-sales {
            /* website-redesign-homepage > top-frame */
            background: #0065fa;
            right: 35%;
            color: #ffffff;
            }
        .button-play-video {
            /* website-redesign-homepage > top-frame */
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff; /* Boja teksta */
            left: 50%;
            top: 90%;
            transform: translate(-50%, -50%);
            }
            .play-video-img {
                /* website-redesign-homepage > top-frame > button-play-video */
                margin-right: 10px;
                width: 34px;
                height: 34px;
                object-fit: cover;
                aspect-ratio: 1;
                }


.about-us-frame {
  /* website-redesign-homepage */
  width: 90%;
  height: 1169px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 60px;
  margin-top: 30px;
}
    .what-we-do {
        /* website-redesign-homepage > about-us-frame */
        color: #000000;
        text-align: left;
        position: relative;
        left: 0px;
        width: 40%;
        top: 10%;
        display: block;
        }
        .what-we-do-title, .what-we-do-text, .what-we-do-explain, .button-what-we-do {
            /* website-redesign-homepage > about-us-frame > what-we-do */
            position: relative;
            margin-top: 20px;
            margin-bottom: 35px;
            }
            .what-we-do-title {
                /* website-redesign-homepage > about-us-frame > what-we-do */
                font-size: 25px;
                font-weight: 600;
                }
            .what-we-do-text {
                /* website-redesign-homepage > about-us-frame > what-we-do */
                font-size: 45px;
                font-weight: 600;
                line-height: 1.5;
                }
            .what-we-do-explain {
                /* website-redesign-homepage > about-us-frame > what-we-do */
                
                font-size: 16px;
                font-weight: 400;
                width: 82%;
                }
        .button-what-we-do {
            /* website-redesign-homepage > about-us-frame > what-we-do */
            background: #496bef;
            border-radius: var(--border-radius-large);
            width: 216px;
            height: 46px;
            color: #ffffff;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            }
    .what-we-do-img {
        /* website-redesign-homepage > about-us-frame */
        border-radius: var(--border-radius-medium);
        width: 510px;
        height: 435px;
        position: absolute;
        left: 46%;
        top: 8%;
        z-index: 2;
        }
    .what-we-do-img-filler {
        /* website-redesign-homepage > about-us-frame */
        border-radius: var(--border-radius-medium);
        width: 510px;
        height: 393px;
        position: absolute;
        left: 100%;
        top: 0;
        transform-origin: 0 0;
        transform: rotate(0deg) scale(-1, 1);
        z-index: 1;
        }

    .who-we-are {
        /* website-redesign-homepage > about-us-frame */
        color: #000000;
        text-align: left;
        position: absolute;
        width: 40%;
        left: 60%;
        bottom: 0;
        display: block;
        }
        .who-we-are-title, .who-we-are-text, .who-we-are-explain, .button-who-we-are {
            /* website-redesign-homepage > about-us-frame > what-we-do */
            position: relative;
            margin-top: 20px;
            margin-bottom: 35px;
            }
            .who-we-are-title {
                /* website-redesign-homepage > about-us-frame > who-we-are */
                color: #000000;
                text-align: left;
                font-size: 25px;
                font-weight: 600;
                position: relative;
                width: 169px;
                }
            .who-we-are-text {
                /* website-redesign-homepage > about-us-frame > who-we-are */
                color: #000000;
                text-align: left;
                font-size: 45px;
                font-weight: 600;
                position: relative;
                width: 317px;
                height: 56px;
                }
            .who-we-are-explain {
                /* website-redesign-homepage > about-us-frame > who-we-are */
                color: #000000;
                text-align: left;
                font-size: 16px;
                font-weight: 400;
                position: relative;
                width: 500px;
                }
        .button-who-we-are {
            /* website-redesign-homepage > about-us-frame > who-we-are */
            background: #496bef;
            border-radius: var(--border-radius-large);
            width: 216px;
            height: 46px;
            color: #ffffff;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            position: relative;
            cursor: pointer;
            }
    .who-we-are-filler-img {
        /* website-redesign-homepage > about-us-frame */
        border-radius: var(--border-radius-medium);
        width: 510px;
        height: 393px;
        position: absolute;
        left: 0;
        bottom: 15%;
        z-index: 1;
        }
    .who-we-are-img {
        /* website-redesign-homepage > about-us-frame */
        border-radius: var(--border-radius-medium);
        width: 510px;
        height: 435px;
        position: absolute;
        left: 20%;
        bottom: 0;
        z-index: 2;
        }


.rectangle-14 {
    background: #181818;
    width: 1743px;
    height: 1400px;
    position: absolute;
    left: -66px;
    top: 4149px;
    }

.our-approach-frame {
  /* website-redesign-homepage */
    background: #181818;
    height: 1600px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
    position: relative;
    }
    .our-approach-title {
        /* website-redesign-homepage > our-approach */
        color: rgba(255, 255, 255, 0.1);
        text-align: center;
        font-size: 220px;
        font-weight: 600;
        position: absolute;
        width: 100%;
        }
    .our-approach-text {
      /* website-redesign-homepage > our-approach */
      color: #ffffff;
      text-align: left;
      font-size: 55px;
      line-height: 80px;
      font-weight: 600;
      position: absolute;
      width: 844px;
      top: 13%;
      left: 6%;
    }
    .our-approach-explain {
      /* website-redesign-homepage > our-approach */
      color: #ffffff;
      font-size: 16px;
      position: absolute;
      width: 36%;
      top: 28%;
      left: 6%;
      text-align: justify;
    }
    .button-our-approach {
      /* website-redesign-homepage > our-approach */
      background: #496bef;
      border-radius: var(--border-radius-large);
      width: 216px;
      height: 46px;
      position: absolute;
      color: #ffffff;
      text-align: center;
      font-weight: medium;
      font-size: 18px;
      top: 40%;
      left: 6%;
      cursor: pointer;
    }
    .our-approach-img {
      /* website-redesign-homepage > our-approach */
      border-radius: var(--border-radius-medium);
      width: 40%;
      height: 25%;
      position: absolute;
      mix-blend-mode: lighten;
      object-fit: cover;
      top: 22%;
      left: 50%;
    }

    .powered-by-data-title {
        color: #ffffff;
        text-align: center;
        font-size: 55px;
        font-weight: 600;
        position: absolute;
        width: 45%;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .powered-by-data-text {
        color: #ffffff;
        text-align: center;
        font-size: 25px;
        line-height: 38px;
        font-weight: 400;
        position: absolute;
        width: 45%;
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    .powered-by-data-rectangle {
        background: #496bef;
        border-radius: var(--border-radius-medium);
        width: 43%;
        height: 235px;
        position: absolute;
        top: 80%;
        left: 45%;
        z-index: 1;
        padding: 3.5em;
        }
        .powered-by-data-explain {
            color: #ffffff;
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
          }
        .button-powered-by-data {
            background: #000000;
            border-radius: var(--border-radius-large);
            padding-inline: 2em;
            height: 46px;
            position: absolute;
            color: #fcfcfc;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            left: 3em;
            bottom: 10%;
            cursor: pointer;
            }
    .powered-by-data-img {
        border-radius: var(--border-radius-medium);
        width: 47%;
        height: 410px;
        position: absolute;
        mix-blend-mode: luminosity;
        object-fit: cover;
        top: 63%;
        left: 10%;
        }






.why-scaling-businesses-choose-mx-d {
  color: #ffffff;
  text-align: center;
  
  font-size: 55px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 4298px;
  width: 1068px;
}



.group-14 {
  position: absolute;
  inset: 0;
}

.group-48 {
  position: absolute;
  inset: 0;
}

.rectangle-83 {
  background: #000000;
  border-radius: var(--border-radius-large);
  width: 216px;
  height: 46px;
  position: absolute;
  left: 733px;
  top: 5908px;
}

.how-we-work2 {
  color: #ffffff;
  text-align: left;
  
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 779px;
  top: 5916.56px;
  width: 124px;
  height: 28.88px;
}

.group-37 {
  position: absolute;
  inset: 0;
}

.rectangle-28 {
  background: #181818;
  width: 1728px;
  height: 489px;
  position: absolute;
  left: 0px;
  top: 7738px;
}

.frame-2 {
  display: flex;
  flex-direction: row;
  gap: 200px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 862px;
  top: 7787px;
}

.services2 {
  color: #ffffff;
  text-align: left;
  
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.verticles2 {
  color: #ffffff;
  text-align: left;
  
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.marketing-solutions2 {
  color: #ffffff;
  text-align: left;
  
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.MxD-logo-white {
  width: 288px;
  height: 83px;
  position: absolute;
  left: 120px;
  top: 7814px;
  object-fit: cover;
}

.b-2-b-marketing-go-to-market-strategy-market-expansion-growth-marketing-cmo-marketing-strategy-data-ai-high-intent-lead-generation-cac-ltv-optimisation-paid-performance-marketing-conversion-rate-optimisation-cro-sales-team-enablement-content-seo-branding {
  color: #80868a;
  text-align: left;
  
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 864px;
  top: 7829px;
  width: 227px;
}

.b-2-b-direct-to-consumer-consumer-services {
  color: #80868a;
  text-align: left;
  
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1138px;
  top: 7829px;
  width: 227px;
}

.paid-media-performance-marketing-paid-media-paid-social-earned-media-public-relations-influencer-affiliate-owned-media-seo-social-media-branding-email-sms-content-marketing-cr-oces {
  color: #80868a;
  text-align: left;
  
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1412px;
  top: 7829px;
  width: 206px;
}

.group-15 {
  position: absolute;
  inset: 0;
}



.group-33 {
  position: absolute;
  inset: 0;
}

.our-verticles {
  color: #000000;
  text-align: left;
  
  font-size: 55px;
  font-weight: 600;
  position: absolute;
  left: 117px;
  top: 6519px;
  width: 435px;
  height: 61px;
}

.our-team-of-highly-specialized-b-2-b-marketing-experts-performance-marketing-search-engine-optimization-lead-generation-conversion-rate-optimization-brand-and-content-ensures-that-you-get-the-results-you-want-more-revenue {
  color: #000000;
  text-align: justified;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 117px;
  top: 6640px;
  width: 1104px;
}

.rectangle-89 {
  background: #eeeaea;
  border-radius: var(--border-radius-small);
  width: 309px;
  height: 385px;
  position: absolute;
  left: 113px;
  top: 6760px;
}

.rectangle-90 {
  background: #eeeaea;
  border-radius: var(--border-radius-small);
  width: 309px;
  height: 385px;
  position: absolute;
  left: 1349px;
  top: 6760px;
}

.rectangle-91 {
  background: #eeeaea;
  border-radius: var(--border-radius-small);
  width: 309px;
  height: 385px;
  position: absolute;
  left: 2585px;
  top: 6760px;
}

.rectangle-92 {
  background: #b1c1fe;
  border-radius: var(--border-radius-small);
  width: 309px;
  height: 385px;
  position: absolute;
  left: 422px;
  top: 6760px;
}

.rectangle-93 {
  background: #b1c1fe;
  border-radius: var(--border-radius-small);
  width: 309px;
  height: 385px;
  position: absolute;
  left: 1658px;
  top: 6760px;
}

.rectangle-94 {
  background: #646060;
  border-radius: var(--border-radius-small);
  width: 309px;
  height: 385px;
  position: absolute;
  left: 731px;
  top: 6760px;
}

.rectangle-95 {
  background: #646060;
  border-radius: var(--border-radius-small);
  width: 309px;
  height: 385px;
  position: absolute;
  left: 1967px;
  top: 6760px;
}

.rectangle-96 {
  background: #fff7f7;
  border-radius: var(--border-radius-small);
  width: 309px;
  height: 385px;
  position: absolute;
  left: 1040px;
  top: 6760px;
}

.rectangle-97 {
  background: #fff7f7;
  border-radius: var(--border-radius-small);
  width: 309px;
  height: 385px;
  position: absolute;
  left: 2276px;
  top: 6760px;
}

.rectangle-98 {
  background: #d9d9d9;
  border-radius: var(--border-radius-bottom-small);
  width: 309px;
  height: 170px;
  position: absolute;
  left: 113px;
  top: 6975px;
}

.rectangle-99 {
  background: #d9d9d9;
  border-radius: var(--border-radius-bottom-small);
  width: 309px;
  height: 170px;
  position: absolute;
  left: 1349px;
  top: 6975px;
}

.rectangle-100 {
  background: #d9d9d9;
  border-radius: var(--border-radius-bottom-small);
  width: 309px;
  height: 170px;
  position: absolute;
  left: 2585px;
  top: 6975px;
}

.rectangle-101 {
  background: #496bef;
  border-radius: var(--border-radius-bottom-small);
  width: 309px;
  height: 170px;
  position: absolute;
  left: 422px;
  top: 6975px;
}

.rectangle-102 {
  background: #496bef;
  border-radius: var(--border-radius-bottom-small);
  width: 309px;
  height: 170px;
  position: absolute;
  left: 1658px;
  top: 6975px;
}

.rectangle-103 {
  background: #000000;
  border-radius: var(--border-radius-bottom-small);
  width: 309px;
  height: 170px;
  position: absolute;
  left: 731px;
  top: 6975px;
}

.rectangle-104 {
  background: #000000;
  border-radius: var(--border-radius-bottom-small);
  width: 309px;
  height: 170px;
  position: absolute;
  left: 1967px;
  top: 6975px;
}

.rectangle-105 {
  background: #ffffff;
  border-radius: var(--border-radius-bottom-small);
  width: 309px;
  height: 170px;
  position: absolute;
  left: 1040px;
  top: 6975px;
}

.rectangle-106 {
  background: #ffffff;
  border-radius: var(--border-radius-bottom-small);
  width: 309px;
  height: 170px;
  position: absolute;
  left: 2276px;
  top: 6975px;
}

.direct-to-consumer {
  color: #000000;
  text-align: left;
  
  font-size: 25px;
  line-height: 28px;
  font-weight: 500;
  position: absolute;
  left: 150px;
  top: 7006px;
  width: 142px;
  height: 28px;
}

.lorem-ipsum {
  color: #000000;
  text-align: left;
  
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 1386px;
  top: 7006px;
  width: 202px;
  height: 28px;
}

.cmo-marketing {
  color: #000000;
  text-align: left;
  
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 2622px;
  top: 7006px;
  width: 252px;
  height: 28px;
}

.b-2-b-marketing {
  color: #ffffff;
  text-align: left;
  
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 459px;
  top: 7006px;
  width: 207px;
  height: 28px;
}

.lorem-ipsum2 {
  color: #ffffff;
  text-align: left;
  
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 1695px;
  top: 7006px;
  width: 238px;
  height: 28px;
}

.consumer-services {
  color: #ffffff;
  text-align: left;
  
  font-size: 25px;
  line-height: 28px;
  font-weight: 500;
  position: absolute;
  left: 768px;
  top: 7006px;
  width: 207px;
  height: 54px;
}

.growth-marketing {
  color: #ffffff;
  text-align: left;
  
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 2004px;
  top: 7006px;
  width: 250px;
  height: 28px;
}

.lorem-ipsum3 {
  color: #000000;
  text-align: left;
  
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 1077px;
  top: 7006px;
  width: 207px;
  height: 28px;
}

.strategy {
  color: #000000;
  text-align: left;
  
  font-size: 25px;
  font-weight: 500;
  position: absolute;
  left: 2313px;
  top: 7006px;
  width: 207px;
  height: 28px;
}

.vorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit {
  color: #000000;
  text-align: left;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 148px;
  top: 7070px;
  width: 232px;
  height: 63px;
}

.vorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit2 {
  color: #ffffff;
  text-align: left;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 459px;
  top: 7060px;
  width: 232px;
  height: 63px;
}

.vorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit3 {
  color: #ffffff;
  text-align: left;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 768px;
  top: 7070px;
  width: 232px;
  height: 63px;
}

.vorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit4 {
  color: #000000;
  text-align: left;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1077px;
  top: 7060px;
  width: 232px;
  height: 63px;
}

.vorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit5 {
  color: #000000;
  text-align: left;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1386px;
  top: 7059px;
  width: 232px;
  height: 63px;
}

.vorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit6 {
  color: #ffffff;
  text-align: left;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 1695px;
  top: 7057px;
  width: 232px;
  height: 63px;
}

.vorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit7 {
  color: #ffffff;
  text-align: left;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 2004px;
  top: 7059px;
  width: 232px;
  height: 63px;
}

.vorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit8 {
  color: #000000;
  text-align: left;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 2313px;
  top: 7057px;
  width: 232px;
  height: 63px;
}

.vorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit9 {
  color: #000000;
  text-align: left;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 2622px;
  top: 7057px;
  width: 232px;
  height: 63px;
}

.group-42 {
  position: absolute;
  inset: 0;
}

.our-services {
  color: #000000;
  text-align: left;
  
  font-size: 55px;
  font-weight: 600;
  position: absolute;
  left: 120px;
  top: 6084px;
}

.our-team-of-highly-specialized-b-2-b-marketing-experts-performance-marketing-search-engine-optimization-lead-generation-conversion-rate-optimization-brand-and-content-ensures-that-you-get-the-results-you-want-more-revenue2 {
  color: #000000;
  text-align: justified;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 120px;
  top: 6227px;
  width: 565px;
}

.group-16 {
  width: 216px;
  height: 46px;
  position: static;
}

.rectangle-87 {
  background: #496bef;
  border-radius: var(--border-radius-large);
  width: 216px;
  height: 46px;
  position: absolute;
  left: 1327px;
  top: 6126px;
}

.b-2-b-marketing2 {
  color: #ffffff;
  text-align: left;
  
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1366px;
  top: 6135px;
  width: 151px;
  height: 28px;
}

.group-24 {
  width: 249px;
  height: 46px;
  position: static;
}

.rectangle-88 {
  background: #496bef;
  border-radius: var(--border-radius-large);
  width: 249px;
  height: 46px;
  position: absolute;
  left: 1086px;
  top: 6210px;
}

.cmo-marketing2 {
  color: #ffffff;
  text-align: left;
  
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1125px;
  top: 6219px;
  width: 187px;
  height: 28px;
}

.group-18 {
  width: 244px;
  height: 46px;
  position: static;
}

.rectangle-810 {
  background: #496bef;
  border-radius: var(--border-radius-large);
  width: 244px;
  height: 46px;
  position: absolute;
  left: 1347px;
  top: 6293px;
}

.market-expansion {
  color: #ffffff;
  text-align: left;
  
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1386px;
  top: 6302px;
  width: 188px;
  height: 28px;
}

.group-20 {
  width: 183px;
  height: 46px;
  position: static;
}

.rectangle-811 {
  background: #d1cece;
  border-radius: var(--border-radius-large);
  width: 183px;
  height: 46px;
  position: absolute;
  left: 1111px;
  top: 6126px;
}

.data-ai {
  color: #000000;
  text-align: center;
  
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1132px;
  top: 6135px;
  width: 141px;
  height: 28px;
}

.group-25 {
  width: 183px;
  height: 46px;
  position: static;
}

.rectangle-812 {
  background: #d1cece;
  border-radius: var(--border-radius-large);
  width: 183px;
  height: 46px;
  position: absolute;
  left: 1125px;
  top: 6294px;
}

.generation {
  color: #000000;
  text-align: center;
  
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1146px;
  top: 6303px;
  width: 141px;
  height: 28px;
}

.group-21 {
  width: 183px;
  height: 46px;
  position: static;
}

.rectangle-813 {
  background: #040000;
  border-radius: var(--border-radius-large);
  width: 183px;
  height: 46px;
  position: absolute;
  left: 885px;
  top: 6126px;
}

.strategy2 {
  color: #ffffff;
  text-align: center;
  
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 906px;
  top: 6135px;
  width: 141px;
  height: 28px;
}

.group-17 {
  width: 294px;
  height: 46px;
  position: static;
}

.rectangle-814 {
  background: #d1cece;
  border-radius: var(--border-radius-large);
  width: 294px;
  height: 46px;
  position: absolute;
  left: 763px;
  top: 6210px;
}

.go-to-market-strategy {
  color: #000000;
  text-align: left;
  
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 795px;
  top: 6219px;
  width: 249px;
  height: 28px;
}

.group-22 {
  width: 276px;
  height: 46px;
  position: static;
}

.rectangle-815 {
  background: #000000;
  border-radius: var(--border-radius-large);
  width: 276px;
  height: 46px;
  position: absolute;
  left: 1366px;
  top: 6210px;
}

.growth-marketing2 {
  color: #ffffff;
  text-align: center;
  
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1384px;
  top: 6219px;
  width: 249px;
  height: 28px;
}

.group-19 {
  width: 235px;
  height: 46px;
  position: static;
}

.rectangle-816 {
  background: #000000;
  border-radius: var(--border-radius-large);
  width: 235px;
  height: 46px;
  position: absolute;
  left: 851px;
  top: 6294px;
}

.high-intent-lead {
  color: #ffffff;
  text-align: center;
  
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 873px;
  top: 6302px;
  width: 192.48px;
  height: 28px;
}

.rectangle-108 {
  background: #181818;
  width: 1728px;
  height: 395px;
  position: absolute;
  left: 0px;
  top: 7343px;
}

.get-in-touch-with-us {
  color: #ffffff;
  text-align: justified;
  
  font-size: 55px;
  font-weight: 600;
  position: absolute;
  left: 133px;
  top: 7389px;
}

.morem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nunc-vulputate-libero-et-velit-interdum-ac-aliquet-odio-mattis {
  color: #ffffff;
  text-align: justified;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 133px;
  top: 7482px;
  width: 550px;
}

.group-35 {
  position: absolute;
  inset: 0;
}

.rectangle-817 {
  background: #496bef;
  border-radius: var(--border-radius-large);
  width: 319px;
  height: 46px;
  position: absolute;
  left: 1030px;
  top: 7607px;
}

.let-s-chat {
  color: #fcfcfc;
  text-align: center;
  
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 1130.12px;
  top: 7617px;
  width: 120.51px;
}

.group-38 {
  position: absolute;
  inset: 0;
}

.rectangle-109 {
  background: #ffffff;
  border-radius: var(--border-radius-large);
  width: 444px;
  height: 49px;
  position: absolute;
  left: 968px;
  top: 7513px;
}

.email {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 1009px;
  top: 7524px;
}

.group-39 {
  position: absolute;
  inset: 0;
}

.rectangle-1092 {
  background: #ffffff;
  border-radius: var(--border-radius-large);
  width: 444px;
  height: 49px;
  position: absolute;
  left: 968px;
  top: 7439px;
}

.name {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 1009px;
  top: 7450px;
}

.follow-us-on-social-media {
  color: #ffffff;
  text-align: left;
  
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  left: 133px;
  top: 7582px;
  width: 376px;
  height: 33px;
}

.artboard-2-4-x {
  width: 35px;
  height: 28.93px;
  position: absolute;
  left: 133px;
  top: 7641px;
  object-fit: cover;
}

.artboard-3-4-x {
  width: 35px;
  height: 35.19px;
  position: absolute;
  left: 238px;
  top: 7635px;
  object-fit: cover;
}

.artboard-4-4-x {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 187px;
  top: 7641px;
  object-fit: cover;
}

.group-40 {
  height: auto;
  position: absolute;
  left: 1542px;
  top: 6640px;
  overflow: visible;
}

.group-41 {
  height: auto;
  position: absolute;
  left: 1472px;
  top: 6640px;
  overflow: visible;
}

.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 73px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 907px;
  position: absolute;
  left: 106px;
  top: 4451px;
}

.group-51 {
  flex-shrink: 0;
  width: 656px;
  height: 254px;
  position: static;
}

.teams-of-expert-under-one-roof {
  color: #ffffff;
  text-align: left;
  
  font-size: 45px;
  line-height: 80px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 656px;
  height: 140px;
}

.we-offer-comprehensive-marketing-support-from-strategy-to-execution-make-decisions-with-a-clear-picture-of-your-growth-where-it-is-today-and-where-it-needs-to-go {
  color: #ffffff;
  text-align: justified;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 175px;
  width: 628px;
  height: 79px;
}

.group-49 {
  flex-shrink: 0;
  width: 907px;
  height: 259px;
  position: static;
}

.expertise-and-dedicated-support {
  color: #ffffff;
  text-align: left;
  
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 327px;
  width: 907px;
  height: 145px;
}

.get-marketing-expertise-that-is-focused-on-helping-you-reach-your-goals-get-a-dedicated-mx-d-marketing-team-with-expertise-across-industries-size-and-stage {
  color: #ffffff;
  text-align: justified;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 3px;
  top: 507px;
  width: 642px;
  height: 79px;
}

.group-50 {
  flex-shrink: 0;
  width: 690px;
  height: 259px;
  position: static;
}

.a-partner-that-grows-with-you {
  color: #ffffff;
  text-align: left;
  
  font-size: 55px;
  line-height: 80px;
  font-weight: 600;
  position: absolute;
  left: 0px;
  top: 659px;
  width: 690px;
  height: 145px;
}

.we-match-our-engagement-and-level-of-support-to-your-business-needs-whether-you-re-just-starting-out-or-scaling-quickly-we-re-here-to-partner-with-you-at-every-stage-of-your-journey {
  color: #ffffff;
  text-align: justified;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 3px;
  top: 839px;
  width: 642px;
  height: 79px;
}

.ellipse-8 {
  background: #496bef;
  border-radius: var(--border-radius-half);
  width: 28px;
  height: 28px;
  position: absolute;
  left: 885px;
  top: 4475px;
}

.ellipse-9 {
  background: #496bef;
  border-radius: var(--border-radius-half);
  width: 28px;
  height: 28px;
  position: absolute;
  left: 885px;
  top: 4807px;
}

.vector-4 {
  height: 659.5px;
  position: absolute;
  left: 899px;
  top: 4493.5px;
  overflow: visible;
}

.ellipse-10 {
  background: #496bef;
  border-radius: var(--border-radius-half);
  width: 28px;
  height: 28px;
  position: absolute;
  left: 885px;
  top: 5139px;
}

.we-help-business-like-yours-grow-revenue-profitabiliy {
  color: #000000;
  text-align: left;
  
  font-size: 25px;
  font-weight: 600;
  position: absolute;
  left: calc(50% - 342px);
  top: 5654px;
}

.group-47 {
  position: absolute;
  inset: 0;
}

.primary-horizontal {
  width: 232px;
  height: 79px;
  position: absolute;
  left: 316px;
  top: 5760.43px;
  object-fit: cover;
}

.terra-15-logo-black {
  width: 180px;
  height: 79px;
  position: absolute;
  left: 83px;
  top: 5752px;
  object-fit: cover;
}

.black {
  width: 202px;
  height: 123px;
  position: absolute;
  left: 1024px;
  top: 5735px;
  object-fit: cover;
}

.artboard-3-4-x2 {
  width: 249px;
  height: 120px;
  position: absolute;
  left: 1822px;
  top: 5740px;
  object-fit: cover;
}

.prdsurveyservices-logo-3 {
  width: 127px;
  height: 127px;
  position: absolute;
  left: 3245px;
  top: 5733px;
  object-fit: cover;
}

.artboard-3-copy-4-x {
  width: 134px;
  height: 123px;
  position: absolute;
  left: 841px;
  top: 5730px;
  object-fit: cover;
}

.blue-logo-clinic-27-min-3 {
  width: 105px;
  height: 105px;
  position: absolute;
  left: 2615px;
  top: 5740px;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.mask-group {
  width: 248.96px;
  height: 100.43px;
  position: absolute;
  left: 2778.53px;
  top: 5745px;
  overflow: visible;
}

.group-45 {
  width: 11.22%;
  height: 1.14%;
  position: absolute;
  right: 54.34%;
  left: 34.43%;
  bottom: 33.91%;
  top: 64.95%;
  overflow: visible;
}

.mask-group2 {
  width: 100px;
  height: 115.49px;
  position: absolute;
  left: 3079px;
  top: 5733px;
  overflow: visible;
}

.artboard-2-4-x-4 {
  width: 247px;
  height: 64px;
  position: absolute;
  left: 1545px;
  top: 5767px;
  object-fit: cover;
}

.artboard-2-4-x-5 {
  width: 235px;
  height: 60px;
  position: absolute;
  left: 1263px;
  top: 5766.57px;
  object-fit: cover;
}

.artboard-2-4-x-7 {
  width: 235px;
  height: 60px;
  position: absolute;
  left: 1263px;
  top: 5766.57px;
  object-fit: cover;
}

.artboard-2-4-x-6 {
  width: 200px;
  height: 60.09px;
  position: absolute;
  left: 2096px;
  top: 5770px;
  object-fit: cover;
}

.mask-group3 {
  width: 200px;
  height: 60.4px;
  position: absolute;
  left: 2363px;
  top: 5761px;
  overflow: visible;
}

.rectangle-110 {
  background: #ffffff;
  width: 1768px;
  height: 366px;
  position: absolute;
  left: -38px;
  top: 3814px;
}

.get-in-touch-with-us2 {
  color: #000000;
  text-align: justified;
  
  font-size: 55px;
  font-weight: 600;
  position: absolute;
  left: 156px;
  top: 3890px;
}

.morem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nunc-vulputate-libero-et-velit-interdum-ac-aliquet-odio-mattis2 {
  color: #000000;
  text-align: justified;
  
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 156px;
  top: 3983px;
  width: 550px;
}

.rectangle-818 {
  background: #496bef;
  border-radius: var(--border-radius-large);
  width: 319px;
  height: 46px;
  position: absolute;
  left: 1053px;
  top: 4058px;
}

.let-s-chat2 {
  color: #fcfcfc;
  text-align: center;
  
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 1153.12px;
  top: 4068px;
  width: 120.51px;
}

.rectangle-1093 {
  border-radius: var(--border-radius-large);
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 444px;
  height: 49px;
  position: absolute;
  left: 991px;
  top: 3974px;
}

.email2 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 1032px;
  top: 3985px;
}

.rectangle-1094 {
  border-radius: var(--border-radius-large);
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 444px;
  height: 49px;
  position: absolute;
  left: 991px;
  top: 3900px;
}

.name2 {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  left: 1032px;
  top: 3911px;
}

.image-40-cea-7-jpeg {
  border-radius: var(--border-radius-top-small);
  width: 309px;
  height: 215px;
  position: absolute;
  left: 113px;
  top: 6760px;
  object-fit: cover;
}

.istockphoto-949890436-612-x-612 {
  border-radius: var(--border-radius-top-small);
  width: 309px;
  height: 215px;
  position: absolute;
  left: 422px;
  top: 6760px;
  object-fit: cover;
}

.istockphoto-1334658317-612-x-612 {
  border-radius: var(--border-radius-top-small);
  width: 309px;
  height: 215px;
  position: absolute;
  left: 731px;
  top: 6760px;
  object-fit: cover;
}