
.website-redesign-homepage {
  /* main div */
  box-sizing: border-box;
  max-width: 1728px;
  max-height: 8227px;
  margin: 0 auto;
  background: #ffffff;
  height: 8227px;
  display: block;
  font-family: "Poppins";
}
/* ___________________________________________________________________________________________________ */

button {
    border-radius: var(--border-radius-large);
    cursor: pointer;
}
/* ___________________________________________________________________________________________________ */

.title-frame {
  /* website-redesign-homepage */
  width: 100%;
  height: 40px;
  margin-top: 30px;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}
    .MxD-logo-black {
      /* website-redesign-homepage > title-frame */
      width: 156px;
      height: 45px;
      position: absolute;
      left: 58px;
      top: 50%;
      transform: translateY(-50%);
      object-fit: cover;
    }
    .dropdown-frame {
      /* website-redesign-homepage > title-frame */
      display: flex;
      flex-direction: row;
      gap: 35px;
      align-items: center;
      justify-content: flex-start;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
        .dropdown {
          /* website-redesign-homepage > title-frame > dropdown-frame */
          position: relative;
          display: inline-block;
        }
            .dropbtn {
              /* website-redesign-homepage > title-frame > dropdown-frame > dropdown */
              background-color: #ffffff;
              color: #000000;
              padding: 16px;
              font-size: 20px;
              border: none;
              cursor: pointer;
            }
            .dropdown-content {
              /* website-redesign-homepage > title-frame > dropdown-frame > dropdown */
              display: none;
              position: absolute;
              background-color: #f9f9f9;
              min-width: 160px;
              box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
              font-size: 18px;
              
              white-space: nowrap;
            }
                .dropdown-content a {
                  /* website-redesign-homepage > title-frame > dropdown-frame > dropdown > dropdown-content */
                  color: black;
                  padding: 12px 16px;
                  text-decoration: none;
                  display: block;
                }
                .dropdown-content a:hover {
                  /* website-redesign-homepage > title-frame > dropdown-frame > dropdown > dropdown-content */
                  background-color: #f1f1f1;
                }
            .dropdown:hover .dropdown-content {
              /* website-redesign-homepage > title-frame > dropdown-frame > dropdown */
              display: block;
            }
            .dropdown:hover .dropbtn {
              /* website-redesign-homepage > title-frame > dropdown-frame > dropdown */
              background-color: #f1f1f1;
            }
    .button.work-with-us {
      /* website-redesign-homepage > title-frame */
      background: #496bef;
      width: 189px;
      height: 41px;
      position: absolute;
      left: 1479px;
      top: 50%;
      transform: translateY(-50%);
      color: #ffffff;
      text-align: center;
      font-size: 20px;
      font-weight: 400;
    }
/* ___________________________________________________________________________________________________ */
 
.top-frame {
  /* website-redesign-homepage */
  width: 100%;
  height: 678px;
  margin-bottom: 60px;
  position: relative;
  z-index: 1;
}
    .top-frame-image-1 {
        /* website-redesign-homepage > top-frame */
        width: 1728px;
        height: 678px;
        position: absolute;
        left: 0px;
        top: 0px;
        object-fit: cover;
        aspect-ratio: 1728/678;
        }
    .top-frame-text {
        /* website-redesign-homepage > top-frame */
        color: #ffffff;
        text-align: center;
        
        font-size: 64px;
        font-weight: 400;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        }
    .button.get-started, .button.contact-sales, .button.play-video {
        /* website-redesign-homepage > top-frame */
        width: 200px;
        height: 58px;
        border-radius: 10px;
        top: 58%;
        font-size: 20px;
        font-weight: 400;
        position: absolute;
        }
        .button.get-started {
            /* website-redesign-homepage > top-frame */
            background: #ffffff;
            left: 35%;
            color: #0065fa;
            }
        .button.contact-sales {
            /* website-redesign-homepage > top-frame */
            background: #0065fa;
            right: 35%;
            color: #ffffff;
            }
        .button.play-video {
            /* website-redesign-homepage > top-frame */
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff; /* Boja teksta */
            left: 50%;
            top: 90%;
            transform: translate(-50%, -50%);
            }
            .play-video-img {
                /* website-redesign-homepage > top-frame > button-play-video */
                margin-right: 10px;
                width: 34px;
                height: 34px;
                object-fit: cover;
                aspect-ratio: 1;
                }
/* ___________________________________________________________________________________________________ */
 
.about-us-frame {
  /* website-redesign-homepage */
  width: 90%;
  height: 1169px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 60px;
  margin-top: 30px;
}
    .what-we-do {
        /* website-redesign-homepage > about-us-frame */
        color: #000000;
        text-align: left;
        position: relative;
        left: 0px;
        width: 40%;
        top: 10%;
        display: block;
        }
        .what-we-do-title, .what-we-do-text, .what-we-do-explain, .button.what-we-do {
            /* website-redesign-homepage > about-us-frame > what-we-do */
            position: relative;
            margin-top: 20px;
            margin-bottom: 35px;
            }
            .what-we-do-title {
                /* website-redesign-homepage > about-us-frame > what-we-do */
                font-size: 25px;
                font-weight: 600;
                }
            .what-we-do-text {
                /* website-redesign-homepage > about-us-frame > what-we-do */
                font-size: 45px;
                font-weight: 600;
                line-height: 1.5;
                }
            .what-we-do-explain {
                /* website-redesign-homepage > about-us-frame > what-we-do */
                
                font-size: 16px;
                font-weight: 400;
                width: 82%;
                }
        .button.what-we-do {
            /* website-redesign-homepage > about-us-frame > what-we-do */
            background: #496bef;
            width: 216px;
            height: 46px;
            color: #ffffff;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            }
    .what-we-do-img {
        /* website-redesign-homepage > about-us-frame */
        border-radius: var(--border-radius-medium);
        width: 510px;
        height: 435px;
        position: absolute;
        left: 46%;
        top: 8%;
        z-index: 2;
        }
    .what-we-do-img-filler {
        /* website-redesign-homepage > about-us-frame */
        border-radius: var(--border-radius-medium);
        width: 510px;
        height: 393px;
        position: absolute;
        left: 100%;
        top: 0;
        transform-origin: 0 0;
        transform: rotate(0deg) scale(-1, 1);
        z-index: 1;
        }

    .who-we-are {
        /* website-redesign-homepage > about-us-frame */
        color: #000000;
        text-align: left;
        position: absolute;
        width: 40%;
        left: 60%;
        bottom: 0;
        display: block;
        }
        .who-we-are-title, .who-we-are-text, .who-we-are-explain, .button.who-we-are {
            /* website-redesign-homepage > about-us-frame > what-we-do */
            position: relative;
            margin-top: 20px;
            margin-bottom: 35px;
            }
            .who-we-are-title {
                /* website-redesign-homepage > about-us-frame > who-we-are */
                color: #000000;
                text-align: left;
                font-size: 25px;
                font-weight: 600;
                position: relative;
                width: 169px;
                }
            .who-we-are-text {
                /* website-redesign-homepage > about-us-frame > who-we-are */
                color: #000000;
                text-align: left;
                font-size: 45px;
                font-weight: 600;
                position: relative;
                width: 317px;
                height: 56px;
                }
            .who-we-are-explain {
                /* website-redesign-homepage > about-us-frame > who-we-are */
                color: #000000;
                text-align: left;
                font-size: 16px;
                font-weight: 400;
                position: relative;
                width: 500px;
                }
        .button.who-we-are {
            /* website-redesign-homepage > about-us-frame > who-we-are */
            background: #496bef;
            width: 216px;
            height: 46px;
            color: #ffffff;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            position: relative;
            }
    .who-we-are-filler-img {
        /* website-redesign-homepage > about-us-frame */
        border-radius: var(--border-radius-medium);
        width: 510px;
        height: 393px;
        position: absolute;
        left: 0;
        bottom: 15%;
        z-index: 1;
        }
    .who-we-are-img {
        /* website-redesign-homepage > about-us-frame */
        border-radius: var(--border-radius-medium);
        width: 510px;
        height: 435px;
        position: absolute;
        left: 20%;
        bottom: 0;
        z-index: 2;
        }


.rectangle-14 {
    background: #181818;
    width: 1743px;
    height: 1400px;
    position: absolute;
    left: -66px;
    top: 4149px;
    }
/* ___________________________________________________________________________________________________ */
 
.our-approach-frame {
  /* website-redesign-homepage */
    background: #181818;
    height: 1600px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
    position: relative;
    }
    .our-approach-title {
        /* website-redesign-homepage > our-approach */
        color: rgba(255, 255, 255, 0.1);
        text-align: center;
        font-size: 220px;
        font-weight: 600;
        position: absolute;
        width: 100%;
        }
    .our-approach-text {
      /* website-redesign-homepage > our-approach */
      color: #ffffff;
      text-align: left;
      font-size: 55px;
      line-height: 80px;
      font-weight: 600;
      position: absolute;
      width: 844px;
      top: 13%;
      left: 6%;
    }
    .our-approach-explain {
      /* website-redesign-homepage > our-approach */
      color: #ffffff;
      font-size: 16px;
      position: absolute;
      width: 36%;
      top: 28%;
      left: 6%;
      text-align: justify;
    }
    .button.our-approach {
      /* website-redesign-homepage > our-approach */
      background: #496bef;
      width: 216px;
      height: 46px;
      position: absolute;
      color: #ffffff;
      text-align: center;
      font-weight: medium;
      font-size: 18px;
      top: 40%;
      left: 6%;
    }
    .our-approach-img {
      /* website-redesign-homepage > our-approach */
      border-radius: var(--border-radius-medium);
      width: 40%;
      height: 25%;
      position: absolute;
      mix-blend-mode: lighten;
      object-fit: cover;
      top: 22%;
      left: 50%;
    }

    .powered-by-data-title {
        /* website-redesign-homepage > our-approach */
        color: #ffffff;
        text-align: center;
        font-size: 55px;
        font-weight: 600;
        position: absolute;
        width: 45%;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .powered-by-data-text {
        /* website-redesign-homepage > our-approach */
        color: #ffffff;
        text-align: center;
        font-size: 25px;
        line-height: 38px;
        font-weight: 400;
        position: absolute;
        width: 45%;
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    .powered-by-data-rectangle {
        /* website-redesign-homepage > our-approach */
        background: #496bef;
        border-radius: var(--border-radius-medium);
        width: 43%;
        height: 235px;
        position: absolute;
        top: 80%;
        left: 45%;
        z-index: 1;
        padding: 3.5em;
        }
        .powered-by-data-explain {
            /* website-redesign-homepage > our-approach > powered-by-data-rectangle */
            color: #ffffff;
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
          }
        .button.powered-by-data {
            /* website-redesign-homepage > our-approach > powered-by-data-rectangle */
            background: #000000;
            padding-inline: 2em;
            height: 46px;
            position: absolute;
            color: #fcfcfc;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            left: 3em;
            bottom: 10%;
            }
    .powered-by-data-img {
        /* website-redesign-homepage > our-approach */
        border-radius: var(--border-radius-medium);
        width: 47%;
        height: 410px;
        position: absolute;
        mix-blend-mode: luminosity;
        object-fit: cover;
        top: 63%;
        left: 10%;
        }
/* ___________________________________________________________________________________________________ */
 
.lets-chat-frame {
    /* website-redesign-homepage */
    background: #ffffff;
    width: 100%;
    height: 366px;
    position: relative;
    }
    .lets-chat-title {
        /* website-redesign-homepage > lets-chat */
        color: #000000;
        text-align: justify;
        font-size: 55px;
        font-weight: 600;
        position: absolute;
        top: 13%;
        left: 10%;
        }
        
    .lets-chat-text {
        /* website-redesign-homepage > lets-chat */
        color: #000000;
        text-align: justify;
        font-size: 16px;
        font-weight: 400;
        position: absolute;
        width: 550px;
        top: 44%;
        left: 10%;
        }     
    
    .lets-chat-form {
        /* website-redesign-homepage > lets-chat */
        width: 30%;
        height: 60%;
        position: relative;
        color: rgba(0, 0, 0, 0.5);
        text-align: left;
        font-size: 18px;
        font-weight: 500;
        top: 10%;
        left: 50%;
    }
        #name, #email {
            /* website-redesign-homepage > lets-chat > lets-chat-form */
            background-color: #FFFFFF;
            border-radius: var(--border-radius-large);
            border-style: solid;
            border-color: #000000;
            border-width: 1px;
            width: 500px;
            height: 50px;
            font-size: 18px;
            font-weight: 500;
            position: relative;
            color: rgba(0, 0, 0, 0.5);
            text-align: left;
            padding: 0.8em 2em;
            margin: 0.5em;
            }
        .button.lets-chat {
            /* website-redesign-homepage > lets-chat > lets-chat-form */
            background: #496bef;
            width: 319px;
            height: 46px;
            position: absolute;
            color: #fcfcfc;
            text-align: center;
            font-size: 18px;
            font-weight: 500;
            margin-top: 5%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: var(--border-radius-large);
            cursor: pointer;
            }
/* ___________________________________________________________________________________________________ */
             
.scaling-businesses-frame {
    /* website-redesign-homepage */
    background-image: url("Data/Images/scaling-businesses-img.png");
    background-size: cover;
    opacity: 0.95;
    background-color: #181818;
    width: 100%;
    height: 1350px;
    position: relative;
    }
    .scaling-businesses-title {
        /* website-redesign-homepage > scaling-businesses-frame */
        color: #ffffff;
        text-align: center;
        font-size: 55px;
        font-weight: 600;
        position: absolute;
        width: 100%;
        top: 8%;
        }
    .scaling-businesses-text-frame {
        /* website-redesign-homepage > scaling-businesses-frame */
        display: flex;
        flex-direction: column;
        gap: 73px;
        align-items: flex-start;
        justify-content: flex-start;
        width: 40%;
        position: absolute;
        top: 20%;
        left: 10%;
        }
        .scaling-businesses-team-frame {
            /* website-redesign-homepage > scaling-businesses-frame > scaling-businesses-text-frame */
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            }
            .scaling-businesses-team-title {
                /* website-redesign-homepage > scaling-businesses-frame > scaling-businesses-text-frame > scaling-businesses-team-frame */
                color: #ffffff;
                text-align: left;
                font-size: 45px;
                font-weight: 600;
                margin-bottom: 0.5em;
            }
            .scaling-businesses-team-explain {
                /* website-redesign-homepage > scaling-businesses-frame > scaling-businesses-text-frame > scaling-businesses-team-frame */
                color: #ffffff;
                text-align: justify;
                font-size: 16px;
                font-weight: 400;
            }
        .scaling-businesses-support-frame {
            /* website-redesign-homepage > scaling-businesses-frame > scaling-businesses-text-frame */
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            }
            .scaling-businesses-support-title {
                /* website-redesign-homepage > scaling-businesses-frame > scaling-businesses-text-frame > scaling-businesses-support-frame */
                color: #ffffff;
                text-align: left;
                font-size: 55px;
                font-weight: 600;
                margin-bottom: 0.5em;
            }
            .scaling-businesses-support-explain {
                /* website-redesign-homepage > scaling-businesses-frame > scaling-businesses-text-frame > scaling-businesses-support-frame */
                color: #ffffff;
                text-align: justify;
                font-size: 16px;
                font-weight: 400;
            }
        .scaling-businesses-partner-frame {
            /* website-redesign-homepage > scaling-businesses-frame > scaling-businesses-text-frame */
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
        }
            .scaling-businesses-partner-title {
                /* website-redesign-homepage > scaling-businesses-frame > scaling-businesses-text-frame > scaling-businesses-partner-frame */
                color: #ffffff;
                text-align: left;
                font-size: 55px;
                font-weight: 600;
                margin-bottom: 0.5em;
            }
            .scaling-businesses-partner-explain {
                /* website-redesign-homepage > scaling-businesses-frame > scaling-businesses-text-frame > scaling-businesses-partner-frame */
                color: #ffffff;
                text-align: justify;
                font-size: 16px;
                font-weight: 400;
            }
    .scaling-businesses-ellipse1 {
        /* website-redesign-homepage > scaling-businesses-frame */
        background: #496bef;
        border-radius: var(--border-radius-half);
        width: 28px;
        height: 28px;
        position: absolute;
        top: 25%;
        left: 60%;
        transform: translate(-50% , -50%);
    }
    .scaling-businesses-ellipse2 {
        /* website-redesign-homepage > scaling-businesses-frame */
        background: #496bef;
        border-radius: var(--border-radius-half);
        width: 28px;
        height: 28px;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50% , -50%);
    }
    .scaling-businesses-ellipse3 {
        /* website-redesign-homepage > scaling-businesses-frame */
        background: #496bef;
        border-radius: var(--border-radius-half);
        width: 28px;
        height: 28px;
        position: absolute;
        top: 75%;
        left: 60%;
        transform: translate(-50% , -50%);
    }
    .scaling-businesses-vector {
        /* website-redesign-homepage > scaling-businesses-frame */
        height: 50%;
        width: 1%;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50% , -50%);
    } 
/* ___________________________________________________________________________________________________ */
 
.partners-frame {
    /* website-redesign-homepage */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2em;   
}
    .partners-title {
        /* website-redesign-homepage > partners-frame */
        color: #000000;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        left: 50%;
        transform: translateX(-50%);
        position: relative;
        }
    .button.partners {
        background: #000000;
        width: 216px;
        height: 46px;
        position: absolute;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        }
    #partners-carousel {
        /* website-redesign-homepage > partners-frame */
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        }
        @media (max-width: 768px) {
            #partners-carousel {
                width: 95%;
            }
        }
        .inner-carousel {
            width: 100%;
            overflow: hidden;
            }
        .carousel-container.img {
            max-width: 100%;
            }       
        .track {
            display: inline-flex;
            transition: transform 0.2s ease-in-out;
            }
            .partner.card-container {
                width: 275px;
                height: 200px;
                flex-shrink: 0;
                padding-right: 10px;
                }
            @media (max-width: 768px) {
                .partner.card-container {
                    width: 184px;
                }
            }
                .partner.card {
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-size: center;
                    background-repeat: no-repeat;
                    }
                    .partner.card1 {
                        background-image: url("Data/Images/partners-img-terra.png");
                        }
                    .partner.card2 {
                        background-image: url("Data/Images/partners-img-hill-co.png");
                        }
                    .partner.card3 {
                        background-image: url("Data/Images/partners-img-leaf.svg");
                        }
                    .partner.card4 {
                        background-image: url("Data/Images/partners-img-an-retreats.png");
                        }
                    .partner.card5 {
                        background-image: url("Data/Images/partners-img-bottoms-up.png");
                        }
                    .partner.card6 {
                        background-image: url("Data/Images/partners-img-cleartrip.png");
                        }
                    .partner.card7 {
                        background-image: url("Data/Images/partners-img-fly-dubai.png");
                        }
                    .partner.card8 {
                        background-image: url("Data/Images/partners-img-ifeelgood.png");
                        }
                    .partner.card9 {
                        background-image: url("Data/Images/partners-img-movewithus.png");
                        }
                    .partner.card10 {
                        background-image: url("Data/Images/partners-img-viewpoint.svg");
                        }
                    .partner.card11 {
                        background-image: url("Data/Images/partners-img-clinic27.png");
                        }
                    .partner.card12 {
                        background-image: url("Data/Images/partners-img-completechiropractic.svg");
                        }
                    .partner.card13 {
                        background-image: url("Data/Images/partners-img-guy.svg");
                        }
                    .partner.card14 {
                        background-image: url("Data/Images/partners-img-prdsurveyservices.png");
                        }   
        .nav button {
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            width: 60px;
            height: 60px;
            outline: none;
        }
        .nav .prev {
            background-image: url("Data/Images/nav-prev.svg");
            background-size: cover;
            opacity: 0.6;
            left: -30px;
            display: none;
        }
        .nav .prev.show {
            display: block;
        }
        .nav .next {
            background-image: url("Data/Images/nav-next.svg");
            background-size: cover;
            opacity: 0.6;
            right: -30px;
        }
        .nav .next.hide {
            display: none;
        }
/* ___________________________________________________________________________________________________ */
 
.our-services-frame {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
    .our-services-text-frame {
        display: flex;
        flex-direction: column;
        width: 35%;
        height: 100%;
    }
        .our-services-title {
            color: #000000;
            text-align: left;
            font-size: 55px;
            font-weight: 600;
            }
        .our-services-explain {
            color: #000000;
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            margin-top: 3em;
            }
    .our-services-button-frame {
        display: block;
        width: 65%;
        height: 100%;
        }
        .our-services-button-group {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            height: 33%;
            margin: 2em 0;
            }
            .button.service-strategy {
                width: 183px;
                height: 46px;
                background: #040000;
                color: #ffffff;
                font-size: 20px;
                font-weight: 500;
                }
            .button.service-data-ai {
                width: 183px;
                height: 46px;
                background: #d1cece;
                color: #000000;
                font-size: 20px;
                font-weight: 500;
                } 
            .button.service-b2b-marketing {
                width: 216px;
                height: 46px;
                background: #496bef;
                color: #ffffff;
                font-size: 20px;
                font-weight: 500;
                } 
            .button.service-go-to-market-strategy {
                width: 294px;
                height: 46px;
                background: #d1cece;
                color: #000000;
                font-size: 20px;
                font-weight: 500;
                }
            .button.service-cmo-marketing {
                width: 249px;
                height: 46px;
                background: #496bef;
                color: #ffffff;
                font-size: 20px;
                font-weight: 500;
                }
            .button.service-growth-marketing {
                width: 276px;
                height: 46px;
                background: #000000;
                color: #ffffff;
                font-size: 20px;
                font-weight: 500;
                }   
            .button.service-high-intent-lead {
                width: 235px;
                height: 46px;
                background: #000000;
                color: #ffffff;
                font-size: 20px;
                font-weight: 500;
                }
            .button.service-generation {
                width: 183px;
                height: 46px;
                background: #d1cece;
                color: #000000;
                font-size: 20px;
                font-weight: 500;
                }
            .button.service-market-expansion {
                width: 244px;
                height: 46px;
                background: #496bef;
                color: #ffffff;
                font-size: 20px;
                font-weight: 500;
                }
/* ___________________________________________________________________________________________________ */
.verticles-frame {
    width: 100%;
    display: block;
    margin-top: 100px;
} 
    .verticles-title {
        color: #000000;
        text-align: left;
        font-size: 55px;
        font-weight: 600;
        margin-bottom: 20px;
        }
    .verticles-text {
        color: #000000;
        text-align: justify;
        font-size: 16px;
        font-weight: 400;
        max-width: 1104px;
        margin-bottom: 60px;
        }
    #verticles-carousel {
        /* website-redesign-homepage > verticles-frame */
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        }
        @media (max-width: 768px) {
            #verticles-carousel {
                width: 95%;
            }
        }
        .verticles.card-container {
            width: 300px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            }
        @media (max-width: 768px) {
            .verticles.card-container {
                width: 250px;
            }
        }
            .verticles.card {
                width: 100%;
                height: 200px;
                background-position: center;
                background-size: center;
                background-repeat: no-repeat;
                }
            .verticles.cardtitle {
                padding: 25px 25px 0 25px;
                font-size: 25px;
                font-weight: 500;
                height: 80px;
                line-height: 1.2;
            }
            .verticles.cardtext {
                padding: 25px 25px 25px 25px;
                font-size: 16px;
                font-weight: 400;
                height: 100px;
            }
                .verticles.card1 {
                    background-image: url("Data/Images/verticles-direct-to-consumer.png");
                    }
                .verticles.card2 {
                    background-image: url("Data/Images/verticles-b2b-marketing.png");
                    }
                .verticles.card3 {
                    background-image: url("Data/Images/verticles-consumer-services.png");
                    }
                .verticles.card4 {
                    background-color: #FFF7F7;
                    }
                .verticles.card5 {
                    background-color: #EEEAEA;
                    }
                .verticles.card6 {
                    background-color: #B1C1FE;
                    }
                .verticles.card7 {
                    background-color: #646060;
                    }
                .verticles.card8 {
                    background-color: #FFF7F7;
                    }
                .verticles.card9 {
                    background-color: #EEEAEA;
                    }
                

                .verticles.card-bottom-frame1 {
                    background-color: #D9D9D9;
                }
                .verticles.card-bottom-frame2 {
                    background-color: #496BEF;
                    color: #FFFFFF;
                }
                .verticles.card-bottom-frame3 {
                    background-color: #000000;
                    color: #FFFFFF;
                }
                .verticles.card-bottom-frame4 {
                    background-color: #FFFFFF;
                }
                .verticles.card-bottom-frame5 {
                    background-color: #D9D9D9;
                }
                .verticles.card-bottom-frame6 {
                    background-color: #496BEF;
                    color: #FFFFFF;
                }
                .verticles.card-bottom-frame7 {
                    background-color: #000000;
                    color: #FFFFFF;
                }
                .verticles.card-bottom-frame8 {
                    background-color: #FFFFFF;
                }
                .verticles.card-bottom-frame9 {
                    background-color: #D9D9D9;
                }
/* ___________________________________________________________________________________________________ */

.contact-frame {
    box-sizing: border-box;
    background: #181818;
    width: 100%;
    height: 884px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    }
    .contact-1-frame, .contact-2-frame, .contact-3-frame, .contact-4-frame {
        box-sizing: border-box;
    }
    .contact-1-frame {
        width: 100%;
        height: 100%;
        padding: 40px 80px;
        display: flex;
        flex-direction: column;
        }
        .contact-title {
            color: #ffffff;
            font-size: 55px;
            font-weight: 600;
            }
        .contact-explain {
            padding: 30px 0;
            color: #ffffff;
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            width: 550px;
            }
        .contact-text {
            padding: 20px 0;
            color: #ffffff;
            text-align: left;
            font-size: 25px;
            font-weight: 600;
            }
        .contact-logo {
            display: flex;
            flex-direction: row;
            gap: 15px;
        }
            .link-twitter {
                width: 36px;
                height: 36px;
                object-fit: cover;
                }
            .link-linkedin {
                width: 36px;
                height: 36px;
                object-fit: cover;
                }
            .link-instagram {
                width: 36px;
                height: 36px;
                object-fit: cover;
                }
    .contact-3-frame {
        width: 100%;
        height: 100%;
        }
        .MxD-logo-white {
            position: relative;
            padding: 20px 80px;
            object-fit: cover;
          }
    .contact-2-frame {
        width: 100%;
        height: 100%;
    }
    .contact-4-frame {
        width: 100%;
        display: flex;
        flex-direction: row;
        width: 100%;
        color: #ffffff;
        text-align: left;
        flex-grow: 1;
        }
            
            .contact-services-list, .contact-verticles-list, .contact-marketing-solutions-list {
                display: flex;
                flex-direction: column;
                font-size: 12px;
                font-weight: 400;
                flex-grow: 1;
                
                max-width: 200px;
                margin-right: 20px;
                
            }
            .contact-title-frame {
                margin-bottom: 15px;
                color: #ffffff;
                text-align: left;
                font-size: 18px;
                font-weight: 500;
            }
            .contact-services-list a, .contact-verticles-list a, .contact-marketing-solutions-list a {
                color: inherit;
                text-decoration: none;
                padding: 5px 0;
                color: #80868a;
                white-space: normal;
            }     
