/* Figma Styles of your File */
:root {
  /* Colors */
  --primary-color: #496bef;
  --secondary-color: #181818;
  --text-color: #000000;
  --background-color: #ffffff;

  /* Fonts */
  --Light: "Poppins-Light", sans-serif;
  --Regular: "Poppins-Regular", sans-serif;
  --Medium: "Poppins-Medium", sans-serif;
  --SemiBold: "Poppins-SemiBold", sans-serif;
  
  /* Effects */
  /* Border Radius  --  Done */
  --border-radius-small: 5px;
  --border-radius-medium: 20px;
  --border-radius-large: 100px;
  --border-radius-bottom-small: 0px 0px 5px 5px;
  --border-radius-top-small: 5px 5px 0px 0px;
  --border-radius-half: 50%;
}